/* used for links */
/* Light red */
/* saturated red */
/* used for links */
/* Light red */
/* saturated red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000375}}
h1.title {
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000382}}
h1.title a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
.two-sidebars h1.title {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000392}}
h1.title {
  min-height: 105px;
  background: url('../images/rgbapng/0f0f0fbf-5.png?1380559640');
  background: rgba(15, 15, 15, 0.75);
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000038}}
h1.title {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 0 10px;
}

/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* normalize.css v1.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\000039}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000326}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000339}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000346}}
[hidden] {
  display: none;
}

/* normalize.css v1.1.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000313}}
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000326}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000337}}
body {
  margin: 0;
}

/* normalize.css v1.1.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000315}}
a:active,
a:hover {
  outline: 0;
}

/* normalize.css v1.1.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000313}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000319}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000324}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000329}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000334}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000339}}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000347}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000353}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000359}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000366}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000373}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000381}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000389}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000397}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003110}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003118}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003127}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003131}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003140}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003146}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003154}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003158}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\000038}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000315}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000321}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000329}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* normalize.css v1.1.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000318}}
svg:not(:root) {
  overflow: hidden;
}

/* normalize.css v1.1.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_figures\.scss}line{font-family:\000039}}
figure {
  margin: 0;
}

/* normalize.css v1.1.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000310}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000317}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000330}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000346}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000362}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000372}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000387}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003100}}
button[disabled],
html input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003112}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003126}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003136}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003143}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003152}}
textarea {
  overflow: auto;
  vertical-align: top;
}

/* normalize.css v1.1.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
