/*
This file contains colors, graphics, and text effects.

Colors used:
  #000 Borders, post seperator, avatar frame, statistics subheader.
  $dark-color Table header font color.
  #fff to #DDDDDD Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #fff to $bg-light-color Gradient on topic list background.
  #fff Stats section background.
  #FAFAFA Text area on posts.
*/

@import "../../../partials/utility";


.node-type-forum, .forum-post , .forum-comments, .forum-table, .forum-table-topics, .forum-table-wrap  {
  @include contrasted($bg-color);
  .field {}
  &.field-type-field-collection > .field-label {
    margin-bottom: 1em;
    font-size: 1.4em;
    border-bottom: 3px solid $base-color;
  }
}

.forum-table {
  color: $dark-color;
  position: relative;
  //margin-bottom: 2.5em;
  border: none;
  

  .field-items .field-item {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

    * {
      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.forum-table ul.action-links-field-collection-add,
.field-collection-view ul.field-collection-view-links {
  font-size: .8em;
  a {
    text-decoration: none;
    margin-right: 0;
    padding: .3em .5em;
    display: block;
  }
}

.field-collection-view ul.field-collection-view-links {
  @include clearfix;
  clear: both;
  float: none;
  text-align: right;
  border-bottom: 3px solid $dark-color;
  margin: 0;

  li {
    float: right;
  }

  a {
    background-color: $dark-color;
    color: $fg-color;

    &:hover, &:focus, &:active {
      background-color: $fg-color;
      color: $dark-color;
    }
  }
}

.forum-table ul.action-links-field-collection-add {
  position: absolute;
  top: 2.6em;
  right: 0;
  padding: 0;

  a {
    background-color: $base-color;
    color: $bg-color;

    &:hover, &:focus, &:active {
      background-color: $bg-color;
      color: $fg-color;
    }
  }
}

.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

.forum-icon {
    background-image: none;
    width: 100%;
}
/*** PAGER *******************************************************************/

/* This is the pager on the topics in the list */

.topic-pager {
  font-style: italic;
}

.forum-pager .pager a, #forum-comments .pager a {
  font-weight: bold;
}

.forum-pager .pager a {
  &:link, &:visited {
    text-decoration: none;
    border: 1px solid $bg-color;
    @include background-image(linear-gradient($fg-dark-color, $bg-light-color));
    color:$dark-color;
  }
}

#forum-comments .pager a {
  &:link, &:visited {
    text-decoration: none;
    border: 1px solid $bg-color;
        @include background-image(linear-gradient($fg-dark-color, $bg-light-color));
  }
}

.forum-pager {
  .pager-current, .pager a:hover {
    background: $dark-color;
    color: #fff !important;
  }
}

#forum-comments {
  .pager-current, .pager a:hover {
    background: $dark-color;
    color: #fff !important;
  }
}

.forum-pager .pager a.active, #forum-comments .pager a.active {
  color: $dark-color;
}

/*** FORUM & TOPIC LISTS ******************************************************/

/* Forum list and topic list tables */

.forum-table {
  border: 1px solid $bg-color;
}

/* Table name and description on forum list and table header on topic list */

.forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr {
  border: 1px solid $bg-color;
  
  @include background-image(linear-gradient($bg-light-color, $bg-lighter-color));

}
.forum-table-superheader .forum-table-description {
  @include adjust-font-size-to(20px);

}

/* Table name on forum list */

.forum-table-superheader .forum-table-name {
  //@extend %padbox;
  
  @include font-size(32px);
  padding:0;
  margin:0;
  //@include hide-text;
}

/* Table header on forum list */

.forum-table-wrap thead tr {
  background-color: $fg-color;
  border: 1px solid $bg-color;
}

/* Table header on forum list and topic list */

.forum-table {
  thead {
    tr a {
      color: $dark-color;
      font-weight: bold;
      &:visited, &:link {
        color: $dark-color;
        font-weight: bold;
      }
    }
    th {
      border-bottom: none;
    }
  }
  tr {
    &.even, &.odd {
      border-top: 1px solid $bg-color;
      @include background-image(linear-gradient($fg-dark-color, #ddd));
    }
    &.even td.active, &.odd td.active {
      background-color: transparent;
    }
  }
  td {
    border: 1px solid $bg-color;
  }
}

/* Reset to avoid bleed-thru from theme */

/* Rows on both tables */

/* Active column on both tables - reset to prevent bleed thru from theme */

/* Individual cells on both tables */

/* Placeholder when there are no topics in the list */

.view-advanced-forum-topic-list .view-empty {
  border: 3px solid $bg-color;
}

/*** Sticky topics ***/

.forum-table {
  tr.forum-last-sticky {
    //border-bottom: 10px solid $bg-color;
  }
  .sticky-label {
    font-weight: bold;
  }
}

/*** FORUM STATISTICS *********************************************************/

#forum-statistics {
  border: 1px solid $bg-color;
}

#forum-statistics-header {
  border-top: 1px solid $bg-color;
  @include background-image(linear-gradient($fg-dark-color, #ddd)); 

  font-weight: bold;
}

.forum-statistics-sub-header {
  border-top: 1px solid $bg-color;
  border-bottom: 1px solid $bg-color;
  font-weight: bold;
}

.forum-statistics-sub-body {
  background-color: $bg-color;
}
.forum-statistics-statistics-body, .forum-statistics-topics {
  background-color: $fg-color;
  color: $dark-color;
}

/*** FORUM COMMENTS **********************************************************/
.comment-wrapper .forum-post-title {
  @include h2-heading-style;
  @include adjust-font-size-to(20px);
  
}
.forum-comments {
  @include contrasted($bg-light-color);
}
/*** FORUM TOPICS **********************************************************/

div.forum-post {
  border: 1px solid $bg-color;
}

/* Header at the top of each post */

.forum-post-info {
  @include adjust-font-size-to(20px);
  @include background-image(linear-gradient($bg-lighter-color, $bg-light-color)); 
  @include contrasted($bg-light-color, $fg-dark-color, $fg-darker-color);
  font-weight: bold;
  @include h-borders(.5);
  @include typography-links-dark-bg;
  @extend %padbox;
  
}

.forum-posted-on {
  font-weight: bold;
}

.forum-post-number a {
  color: $dark-color !important;
}

/* Wrapper around author pane and content */

.forum-post-wrapper {
  @include contrasted($bg-light-color);
}

/* Author information pane */

.forum-post-panel-sub .author-pane {
  .author-name {
    font-weight: bold;
  }
  .picture img {
    border: 1px solid $bg-color;
    background-color: $fg-color;
  }
  .author-pane-label {
    font-weight: bold;
  }
}

/* Post text area */

.forum-post-panel-main {
  border-left: 1px solid $bg-color;
  @include contrasted($bg-lighter-color);
  @extend %padbox;
}

.forum-post-title {
  font-weight: bold;
  border-bottom: 1px solid $bg-color;
  
}

/* Signature */

.author-signature {
  font-size: .8em;
}

/* Post footer */

.forum-post-footer {
  border-top: 1px solid $bg-color;
}

.forum-jump-links {
  border-right: none;
}

/* Box under top post before first reply */

.forum-top-post-footer {
  border: 1px solid $bg-color;
  @include background-image(linear-gradient($fg-dark-color, #ddd));
}

/* Topic navigation */

.forum-topic-navigation {
  border: 1px solid $bg-color;
  @include background-image(linear-gradient($fg-dark-color, #ddd));
}
