/* used for links */
/* Light red */
/* saturated red */
/* used for links */
/* Light red */
/* saturated red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000375}}
h1.title {
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000382}}
h1.title a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
.two-sidebars h1.title {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000392}}
h1.title {
  min-height: 105px;
  background: url('../../../images/rgbapng/0f0f0fbf-5.png?1380559636');
  background: rgba(15, 15, 15, 0.75);
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000038}}
h1.title {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\000036}}
#tasks {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53bbf9), color-stop(100%, #49b8f9));
  background-image: -webkit-linear-gradient(#53bbf9, #49b8f9);
  background-image: -moz-linear-gradient(#53bbf9, #49b8f9);
  background-image: -o-linear-gradient(#53bbf9, #49b8f9);
  background-image: linear-gradient(#53bbf9, #49b8f9);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background-color: #49b8f9;
  border: 1px solid #3ab2f8;
  border-top: none;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000320}}
#tasks .inner {
  border-bottom: 1px solid #6cc5fa;
  margin: 0 -1em;
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000327}}
#tasks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  background: transparent url("../../images/noise.png") repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000333}}
#tasks ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000342}}
#tasks a {
  font-size: 13px;
  line-height: 20px;
  font-size: 0.8125rem;
  text-decoration: none;
  color: #dddddd;
  display: block;
  padding: 0.50em 0.8em;
  margin-bottom: -1px;
  border-bottom: 1px solid #6cc5fa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000351}}
#tasks a:hover {
  color: #dddddd;
  background: #3ab2f8;
  border-bottom: 1px solid #44b6f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000357}}
#tasks a.active {
  color: #dddddd;
  background: #2cacf8;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #22a8f7;
  border-left: 1px solid #22a8f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000366}}
#tasks .action-links a {
  background: none;
  border-bottom: 1px solid #6cc5fa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000370}}
#tasks .action-links a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000375}}
#tasks .action-links a:before {
  content: '+ ';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000379}}
#tasks .secondary-nav {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000383}}
#tasks .divider {
  background-color: #5dbff9;
  border-left: 1px solid #3fb4f8;
  display: block;
  float: left;
  width: 1px;
  height: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000392}}
#tasks .sub {
  background: #2cacf8;
  margin: 0 -1em;
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\0000397}}
#tasks .sub a {
  border: none;
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/topbar\/topbar\.scss}line{font-family:\00003101}}
#tasks .sub a:hover, #tasks .sub a.active {
  text-decoration: underline;
}
