// Base color of button.
$sb-base-color: $rgb-color !default;

// Optional secondary color for gradient.
$sb-second-color: $dark-color !default;

// Border radius of button.
$sb-border-radius: 5px !default;

// Padding that gives button structure.
$sb-padding: 0.3em 1.5em !default;

// Font size.
$sb-font-size: 16px !default;

// Button font color.
$sb-text-color: white !default;

// Style of button text, can be "inset" or "raised" or false.
$sb-text-style: "inset" !default;

// Gradient style of button, can be "flat", "glass", "matte", "shiny", or "simple".
$sb-gradient-style: "simple" !default;

// Automatically generate pseudo state styles.
$sb-pseudo-states: true !default;

// Add gradient png for IE 7+
$sb-ie-support: false !default;

// Set the default Line height
$sb-line-height: 1.5 !default;
