$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

$red        : #b33630;

$yellow     : #d6c460;

$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;

// Colors.
$base-color: #af0136; /* used for links */
$dark-color: darken($base-color, 32.5%) !default;
$light-color: tint($base-color, 32.5%) !default; 
$desat-color: desaturate($base-color, 25%) !default;  /* Light red */
$sat-color: saturate($base-color, 25%) !default;  /* saturated red */

$complement-color: complement($base-color) !default;
$complement-light-color: lighten($complement-color, 25%);
$complement-dark-color: darken($complement-color, 25%);

$bg-color: #000000;
$fg-color: #dddddd;

$bg-light-color: lighten($bg-color, 11%) !default;
$bg-lighter-color: lighten($bg-color, 20%) !default;
$fg-dark-color: darken($fg-color, 11%) !default;
$fg-darker-color: darken($fg-color, 31%) !default;

$heading-color: shade($fg-color, 11%) !default;
$topbarColor: shade($mid-blue, 11%) !default;

$contrasted-dark-default: $fg-dark-color;
$contrasted-light-default: $fg-darker-color;

$rgb-color:rgba(211, 101, 11, .9);
