// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 10px;
$horz-spacing-unit: 10px;

// Define Susy grid variables mobile first.
$total-columns: 24;
$column-width: 31px;
$gutter-width: 2 * $horz-spacing-unit;
$grid-padding: 0px;
$debug-grid: false;

$container-style: static;
$container-width: 1204px;

$tab: 44em 24; // At 44em use 24 columns.
$desk: 70em 24; // At 70em use 24 columns.


//$from-direction: right;

$footer-height:174px;

