
// Font families.
$pt-sans    : 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro  : 'Maven Pro', Helvetica, Arial, sans-serif;
$font-family-default: "Lucida Grande",Arial,"DejaVu Sans",Verdana,sans-serif !default;
$font-family-light: $font-family-default !default;
$font-family-normal: $font-family-default !default;
$font-family-bold: $font-family-default !default;

$show-baseline-grid-backgrounds: true;
$base-font-size: 16px;
$menu-font-size: 18px;
//The base font size.

$base-line-height: 20px;
//The base line height determines the basic unit of vertical rhythm.

$default-rhythm-border-style: solid;
//Set the default border style for rhythm borders.

$relative-font-sizing: false;
//Set to false if you want to use absolute pixels in sizing your typography.

$round-to-nearest-half-line: false;
//Allows the adjust-font-size-to mixin and the lines-for-font-size function to round the line height to the nearest half line height instead of the nearest integral line height to avoid large spacing between lines.

$min-line-padding: 2px;
//Ensure there is at least this many pixels of vertical padding above and below the text.

$font-unit: if($relative-font-sizing, 1em, $base-font-size);
//$base-font-size but in your output unit of choice. Defaults to 1em when $relative-font-sizing is true.
