/*******************************************************************************
 * _menus.scss
 *
 * 
 ******************************************************************************/

ul.primary {
  @include clearfix;
  margin: 0 0 1em 0;
  padding: 0;
  border-bottom: 3px solid $bg-light-color;

  li {
    list-style: none;
    margin: 0 .5em 0 0;
    float: left;
  }

  a {
    text-decoration: none;
    padding: .3em .5em;
    display: block;
    color: $fg-color;
    background-color: $dark-color;
  }

  a:hover, a:focus, a:active, li.active a {
    background-color: $bg-light-color;
    color: $bg-color;
  }
}

ul.secondary {
  // @todo
}

.l-region--navigation {

}
