@import "toolkit/border-box";


//@include sticky-footer($footer-height, "#l-main", "#layout-footer", "#l-footer-wrapper");
.clearfix {
  @include clearfix(true);

}

html {
  background-color:$bg-color;
}

.l-page {
  height:100%;
}

.tabs {
  z-index:22;
  position:relative;
}
#l-footer-wrapper {
  background-image: url(../images/bg.jpg);
  .block {
    @extend %transbg-block;
  }
}
