/**
 * $TABLES
 */
table {
  width: 100%;
  //margin-bottom: $vert-spacing-unit;
}

th {
  @include rhythm(0,.2,0.2,0);
  @include contrasted($bg-lighter-color);

  a,
  a.active {
    color: $fg-color;

    img {
      margin: 2px 3px;
    }
  }
}
td {
  padding: 0em 1em;
  @include rhythm(0,.2,0.2,0);
}

tr.odd {
  background: $bg-light-color
}
tr.even {
  background: $bg-lighter-color
}

caption {
  @extend .delta;
}
