/**
 * $FONT-FACE
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-size: 14px;
  font-family: $font-family-default;
  color: $dark-grey;
}

@include typography-base;

/**
 * $LINKS
 */
@include typography-links;

/**
 * $HEADINGS
 */


h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @extend %typography-headings;
}

h1, .alpha {
  @include adjust-font-size-to(40px);
  font-weight: 700;
}
h2, .beta {
  @include adjust-font-size-to(30px, 1.5);
  font-weight: 700;
}
h3, .gamma {
  @include adjust-font-size-to(21px);
}
h4, .delta {
  @include adjust-font-size-to(18px);
}
h5, .epsilon{
  @include adjust-font-size-to(16px);
  font-weight: 700;
}
h6, .zeta {
  @include adjust-font-size-to(16px);
  color: $mid-blue;
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  margin-bottom: 1em;
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  padding: 1em 1.5em;
  border: 1px solid $dark-blue;
  border-left-width: 1.2em;
  font-style: italic;
  color: $dark-blue;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $light-blue;

  color: #FFF;
  @include adjust-font-size-to(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}
