/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* used for links */
/* Light red */
/* saturated red */
/* used for links */
/* Light red */
/* saturated red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_grid\.scss}line{font-family:\000039}}
.l-constrained, .l-region--highlighted {
  *zoom: 1;
  width: 1204px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-constrained:after, .l-region--highlighted:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000375}}
h1.title {
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000382}}
h1.title a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
.two-sidebars h1.title {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000392}}
h1.title {
  min-height: 105px;
  background: url('../../../images/rgbapng/0f0f0fbf-5.png?1380559639');
  background: rgba(15, 15, 15, 0.75);
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000038}}
h1.title {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 0 10px;
}

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000320}}
.l-header {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000326}}
.l-region--header .block {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000330}}
.l-region--hero {
  height: 270px;
  overflow: hidden;
}

/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000335}}
.l-highlighted-wrapper {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000340}}
.l-region--highlighted {
  position: relative;
  top: -258px;
  z-index: 20;
  height: 0;
  max-height: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000348}}
.l-region--highlighted .block {
  width: 388px;
  float: right;
  margin-left: 20px;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000353}}
.l-region--highlighted .block:nth-child(3) {
  float: right;
  margin-right: 0;
  *margin-left: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000360}}
.l-region--help {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000363}}
.l-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Sidebars */
/* Footer 
@include sticky-footer($footer-height, "#l-main", "#layout-footer", ".l-footer-wrapper");
.l-footer-wrapper {
  @include with-grid-settings(12,4em,1.5em,1em) {
  .block {
    //@include reset-block-columns;
    //@include block-columns(5);
     @include span-columns(3, 12, false, $from-direction, magic);
    //@extend %container;
    &:nth-child(4) {
      @include omega;
    }
  }
}
  
  height:$footer-height;
  
  
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\0000396}}
.l-constrained {
  width: 1204px;
}

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003102}}
.l-region--navigation {
  width: 745px;
  float: left;
  margin-right: 20px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003108}}
.l-region--header {
  width: 745px;
  float: left;
  margin-right: 20px;
  height: 130px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003113}}
.l-branding {
  width: 439px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  float: none;
  display: inline-block;
}

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003120}}
.has-one-sidebar .l-content {
  width: 745px;
  float: left;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003123}}
.has-one-sidebar .l-region--sidebar-first, .has-one-sidebar .l-region--sidebar-second {
  width: 439px;
  float: left;
  margin-right: 20px;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  clear: none;
}

@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003134}}
  .l-constrained {
    width: 1204px;
  }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003140}}
  .has-one-sidebar .l-content {
    width: 745px;
    float: left;
    margin-right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003143}}
  .has-one-sidebar .l-region--sidebar-first {
    width: 439px;
    float: left;
    margin-right: 20px;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003151}}
  .has-two-sidebars .l-content {
    width: 745px;
    float: left;
    margin-right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003155}}
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -21.0084%;
    width: 235px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/layouts\/becohming-hero\/becohming-hero\.layout\.scss}line{font-family:\00003161}}
  .has-two-sidebars .l-region--sidebar-second {
    width: 439px;
    float: left;
    margin-right: 20px;
    float: right;
    margin-right: 0;
  }
}
