/**
 * $NODE-BASIC-PAGE
 */
.node--album {
  @include layout(15) {
    @include grid-background;
    .field {
      @include span-columns(15, 15);
    }
    .field--name-field-artwork {
      @include span-columns(9, 15);
    }
    .field--name-field-tracklist {
      @include span-columns(6 omega, 15);
    }
  }
}
.field--name-field-tracklist {
  border-bottom: 1px solid #AAAAAA;
  color: #999999;
  font-family: "HelveticaNeueLightCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  @include adjust-font-size-to(19px);
  @extend %padbox;
}
    
