/**
 * $NODE
 */
.node {
@include debug-vertical-alignment();
  @include contrasted($bg-lighter-color, $fg-dark-color, $fg-color, 20%);
  @include rgba-background(rgba(55,55,55,0.75));
  @include adjust-font-size-to(14px);
  @include span-columns(15, 15);
  .node__content {
    @extend %padbox;
    clear:both;

  }
  .node__title {
     margin:0;
     min-height: 60px;
     //@include padding-leader(0.5);
     padding:0;
  }
  .node__footer {
    @extend %padbox;
    @include padding-trailer(0);
   // @include padding-trailer(0.5);
    
  }
  .submitted {
    
    @include adjust-font-size-to(14px);
    
    float:right;
    
    }
  header {
    //@include contrasted($dark-grey);
    @include rgba-background(rgba(15,15,15,0.75));
    //@include span-columns(13, 15);
    width:645px;
    margin:0;
    float:left;
    padding:10px;
    
  }

}
.node--teaser {
  margin-bottom: 2 * $vert-spacing-unit;
  .node__footer {
    width:100px;
    clear:right;
    padding:0;
    margin:0;
    

   // width: columns(2,15) + gutter(15);
    float:right;

    p {
      margin: 0;
    }
  }
  .submitted {margin:0;}
}

.node__links {
  padding-top:$vert-spacing-unit;
  padding-bottom:$vert-spacing-unit;
  padding-left:$horz-spacing-unit;
  padding-right:$horz-spacing-unit;
}
