.node-type-unity-game-channel {
  .title {

    
  }
  .l-main, .l-page, .l-content, article.node--unity-game-channel--full,article.node--unity-game-channel--full .node__content {
  
  // TODO use https://drupal.org/node/1908772 instead
    //width:100%;
    padding:0;
    //margin:0;
    //height:100%;
    //min-height:100%;

  }
}
