/* Styles if using Skinr block skins.  Only loads when Skinr module is enabled */
/* =============================================================================
 *   COLORS
 * ========================================================================== */
/* BACKGROUND COLOR */
/* BACKGROUND COLOR */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\000039}}
.wh-bbg .node__content {
  background-color: #fff;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000314}}
.lgy-bbg .node__content {
  background-color: #F2F2F2;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000319}}
.gy-bbg .node__content {
  background-color: #D2D2D2;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000324}}
.dgy-bbg .node__content {
  background-color: #747474;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000329}}
.bk-bbg .node__content {
  background-color: #242424;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000334}}
.ltn-bbg .node__content {
  background-color: #F1EEE5;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000339}}
.tn-bbg .node__content {
  background-color: #CDC2AA;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000344}}
.dtn-bbg .node__content {
  background-color: #A6977E;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000349}}
.brn-bbg .node__content {
  background-color: #4E453C;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000354}}
.lbl-bbg .node__content {
  background-color: #B5CFEF;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000359}}
.bl-bbg .node__content {
  background-color: #0E53A6;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000364}}
.dbl-bbg .node__content {
  background-color: #143865;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000369}}
.lgr-bbg .node__content {
  background-color: #c5dbad;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000374}}
.gr-bbg .node__content {
  background-color: #367512;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000379}}
.dgr-bbg .node__content {
  background-color: #1F5120;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000384}}
.ltl-bbg .node__content {
  background-color: #BCD0CE;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000389}}
.tl-bbg .node__content {
  background-color: #45676B;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000394}}
.red-bbg .node__content {
  background-color: #B01C1C;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\0000399}}
.lor-bbg .node__content {
  background-color: #F2B789;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003104}}
.or-bbg .node__content {
  background-color: #E9620F;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003109}}
.lmr-bbg .node__content {
  background-color: #D5B4B9;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003114}}
.mr-bbg .node__content {
  background-color: #793B48;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003119}}
.lpr-bbg .node__content {
  background-color: #C4BBD9;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003124}}
.pr-bbg .node__content {
  background-color: #554675;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003129}}
.wh-bbg .block__content {
  background-color: #fff;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003134}}
.lgy-bbg .block__content {
  background-color: #F2F2F2;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003139}}
.gy-bbg .block__content {
  background-color: #D2D2D2;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003144}}
.dgy-bbg .block__content {
  background-color: #747474;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003149}}
.bk-bbg .block__content {
  background-color: #242424;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003154}}
.ltn-bbg .block__content {
  background-color: #F1EEE5;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003159}}
.tn-bbg .block__content {
  background-color: #CDC2AA;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003164}}
.dtn-bbg .block__content {
  background-color: #A6977E;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003169}}
.brn-bbg .block__content {
  background-color: #4E453C;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003174}}
.lbl-bbg .block__content {
  background-color: #B5CFEF;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003179}}
.bl-bbg .block__content {
  background-color: #0E53A6;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003184}}
.dbl-bbg .block__content {
  background-color: #143865;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003189}}
.lgr-bbg .block__content {
  background-color: #c5dbad;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003194}}
.gr-bbg .block__content {
  background-color: #367512;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003199}}
.dgr-bbg .block__content {
  background-color: #1F5120;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003204}}
.ltl-bbg .block__content {
  background-color: #BCD0CE;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003209}}
.tl-bbg .block__content {
  background-color: #45676B;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003214}}
.red-bbg .block__content {
  background-color: #B01C1C;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003219}}
.lor-bbg .block__content {
  background-color: #F2B789;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003224}}
.or-bbg .block__content {
  background-color: #E9620F;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003229}}
.lmr-bbg .block__content {
  background-color: #D5B4B9;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003234}}
.mr-bbg .block__content {
  background-color: #793B48;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003239}}
.lpr-bbg .block__content {
  background-color: #C4BBD9;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003244}}
.pr-bbg .block__content {
  background-color: #554675;
  color: #fff;
}

/* HEADER BACKGROUND COLOR */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003251}}
.l-page .gy-bhd h3.block__title {
  background: #cccccc url(images/nav-bg-gray.gif) top left repeat-x;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003256}}
.l-page .bk-bhd h3.block__title {
  background: #272727 url(images/nav-bg-black.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003261}}
.l-page .br-bhd h3.block__title {
  background: #423a34 url(images/nav-bg-brown.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003266}}
.l-page .bl-bhd h3.block__title {
  background: #2c2c2c url(images/nav-bg-blue.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003271}}
.l-page .dbl-bhd h3.block__title {
  background: #103058 url(images/nav-bg-dkblue.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003276}}
.l-page .gr-bhd h3.block__title {
  background: #2b6b0b url(images/nav-bg-green.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003281}}
.l-page .dgr-bhd h3.block__title {
  background: #1c481d url(images/nav-bg-dkgreen.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003286}}
.l-page .tl-bhd h3.block__title {
  background: #3e5f63 url(images/nav-bg-teal.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003291}}
.l-page .rd-bhd h3.block__title {
  background: #a51d1d url(images/nav-bg-red.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003296}}
.l-page .or-bhd h3.block__title {
  background: #c85522 url(images/nav-bg-orange.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003301}}
.l-page .mr-bhd h3.block__title {
  background: #672d39 url(images/nav-bg-maroon.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003306}}
.l-page .pr-bhd h3.block__title {
  background: #4b3e68 url(images/nav-bg-purple.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003311}}
.l-page .gy-bhd header {
  background: #cccccc url(images/nav-bg-gray.gif) top left repeat-x;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003316}}
.l-page .bk-bhd header {
  background: #272727 url(images/nav-bg-black.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003321}}
.l-page .br-bhd header {
  background: #423a34 url(images/nav-bg-brown.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003326}}
.l-page .bl-bhd header {
  background: #2c2c2c url(images/nav-bg-blue.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003331}}
.l-page .dbl-bhd header {
  background: #103058 url(images/nav-bg-dkblue.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003336}}
.l-page .gr-bhd header {
  background: #2b6b0b url(images/nav-bg-green.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003341}}
.l-page .dgr-bhd header {
  background: #1c481d url(images/nav-bg-dkgreen.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003346}}
.l-page .tl-bhd header {
  background: #3e5f63 url(images/nav-bg-teal.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003351}}
.l-page .rd-bhd header {
  background: #a51d1d url(images/nav-bg-red.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003356}}
.l-page .or-bhd header {
  background: #c85522 url(images/nav-bg-orange.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003361}}
.l-page .mr-bhd header {
  background: #672d39 url(images/nav-bg-maroon.gif) top left repeat-x;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003366}}
.l-page .pr-bhd header {
  background: #4b3e68 url(images/nav-bg-purple.gif) top left repeat-x;
  color: #FFF;
}

/* HEADER TEXT COLOR */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003372}}
.l-page .wh-bht h3.block__title,
.l-page .wh-bht h3.block__title a {
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003377}}
.l-page .by-bht h3.block__title {
  color: #767676;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003381}}
.l-page .bk-bht h3.block__title {
  color: #323232;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003385}}
.l-page .br-bht h3.block__title {
  color: #594D42;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003389}}
.l-page .bl-bht h3.block__title {
  color: #1A59B1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003393}}
.l-page .dbl-bht h3.block__title {
  color: #2D4A6B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003397}}
.l-page .gr-bht h3.block__title {
  color: #2A9400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003401}}
.l-page .dgr-bht h3.block__title {
  color: #3A572D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003405}}
.l-page .tl-bht h3.block__title {
  color: #37676D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003409}}
.l-page .rd-bht h3.block__title {
  color: #BF1D20;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003413}}
.l-page .mr-bht h3.block__title {
  color: #773743;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003417}}
.l-page .pr-bht h3.block__title {
  color: #624F88;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003421}}
.l-page .or-bht h3.block__title {
  color: #DD5C0B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003425}}
.l-page .wh-bht header,
.l-page .wh-bht header a {
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003430}}
.l-page .by-bht header {
  color: #767676;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003434}}
.l-page .bk-bht header {
  color: #323232;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003438}}
.l-page .br-bht header {
  color: #594D42;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003442}}
.l-page .bl-bht header {
  color: #1A59B1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003446}}
.l-page .dbl-bht header {
  color: #2D4A6B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003450}}
.l-page .gr-bht header {
  color: #2A9400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003454}}
.l-page .dgr-bht header {
  color: #3A572D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003458}}
.l-page .tl-bht header {
  color: #37676D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003462}}
.l-page .rd-bht header {
  color: #BF1D20;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003466}}
.l-page .mr-bht header {
  color: #773743;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003470}}
.l-page .pr-bht header {
  color: #624F88;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003474}}
.l-page .or-bht header {
  color: #DD5C0B;
}

/* LINK COLOR */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003479}}
.l-page .wh-lnk a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003483}}
.l-page .br-lnk a {
  color: #82654B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003487}}
.l-page .bl-lnk a {
  color: #135DB1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003491}}
.l-page .gr-lnk a {
  color: #2A9400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003495}}
.l-page .tl-lnk a {
  color: #2A7E87;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003499}}
.l-page .rd-lnk a {
  color: #BF1D20;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003503}}
.l-page .mr-lnk a {
  color: #85283B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003507}}
.l-page .pr-lnk a {
  color: #755AAF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003511}}
.l-page .or-lnk a {
  color: #E6683B;
}

/* Override default theme settings for individual blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003516}}
.l-page .no-bbg .block__content,
.l-page .no-bhd h3.block__title {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003521}}
.l-page .no-bbg .block__content {
  color: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003524}}
.l-page .no-bbg .node__content,
.l-page .no-bhd header {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003529}}
.l-page .no-bbg .node__content {
  color: inherit;
}

/* =============================================================================
 *   CSS3
 * ========================================================================== */
/* ROUND CORNERS BLOCKS*/
/*0px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003539}}
.l-page .block.rc0 .block__content {
  border-radius: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003543}}
.l-page .block.rc0 h3.block__title {
  border-radius: 0px 0px 0px 0px;
}

/*3px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003548}}
.l-page .rc3 .block__content {
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003552}}
.l-page .rc3 h3.block__title {
  border-radius: 3px 3px 0px 0px;
}

/*7px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003557}}
.l-page .rc7 .block__content {
  border-radius: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003561}}
.l-page .rc7 h3.block__title {
  border-radius: 7px 7px 0px 0px;
}

/*11px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003566}}
.l-page .rc11 .block__content {
  border-radius: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003570}}
.l-page .rc11 h3.block__title {
  border-radius: 11px 11px 0px 0px;
}

/* DROP SHADOWS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003575}}
.l-page .block.ds0 .block__content {
  box-shadow: 0px 0px 0px #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003579}}
.l-page .ds2 .block__content {
  box-shadow: 1px 1px 2px #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003583}}
.l-page .ds4 .block__content {
  box-shadow: 2px 2px 4px #aaa;
}

/* ROUND CORNERS NODES*/
/*0px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003591}}
.l-page .block.rc0 .node__content {
  border-radius: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003595}}
.l-page .block.rc0 h3.block__title {
  border-radius: 0px 0px 0px 0px;
}

/*3px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003600}}
.l-page .rc3 .node__content {
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003604}}
.l-page .rc3 h3.block__title {
  border-radius: 3px 3px 0px 0px;
}

/*7px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003609}}
.l-page .rc7 .node__content {
  border-radius: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003613}}
.l-page .rc7 h3.block__title {
  border-radius: 7px 7px 0px 0px;
}

/*11px*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003618}}
.l-page .rc11 .node__content {
  border-radius: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003622}}
.l-page .rc11 h3.block__title {
  border-radius: 11px 11px 0px 0px;
}

/* DROP SHADOWS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003627}}
.l-page .block.ds0 .node__content {
  box-shadow: 0px 0px 0px #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003631}}
.l-page .ds2 .node__content {
  box-shadow: 1px 1px 2px #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/skinrstyles\/styles\/colors\.scss}line{font-family:\00003635}}
.l-page .ds4 .node__content {
  box-shadow: 2px 2px 4px #aaa;
}
