
// ---------------------------------------------------------------------------
// Local tasks
@import "../../partials/utility/";

#tasks  {
  @include background-image(linear-gradient(lighten($topbarColor, 30%), lighten($topbarColor, 28%)));
  @include opacity(0.8);
  background-color: lighten($topbarColor, 28%);
  border: 1px solid lighten($topbarColor, 25%);
  border-top: none;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 100;

  .inner {

    border-bottom: 1px solid lighten($topbarColor, 35%);
    margin: 0 -1em;
    padding: 0 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    background: transparent url("../../images/noise.png") repeat;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
    }
  }


  a {
    @include font-size(13px);
    text-decoration: none;
    color: $light-grey;
    display: block;
    padding: 0.50em 0.8em;
    margin-bottom: -1px;
    border-bottom: 1px solid lighten($topbarColor, 35%);

    &:hover {
      color: $light-grey;
      background: lighten($topbarColor, 25%);
      border-bottom: 1px solid lighten($topbarColor, 27%);
    }

    &.active {
      color: $light-grey;
      background: lighten($topbarColor, 22%);
      border-bottom: 1px solid transparent;
      border-right: 1px solid lighten($topbarColor, 20%);
      border-left: 1px solid lighten($topbarColor, 20%);
    }
  }

  .action-links a{
    background: none;
    border-bottom: 1px solid lighten($topbarColor, 35%);

    &:hover {
      text-decoration: underline;
    }
  }

  .action-links a:before {
    content: '+ ';
  }

  .secondary-nav {
    float: right;
  }

  .divider {
    background-color: lighten($topbarColor, 32%);
    border-left: 1px solid lighten($topbarColor, 26%);
    display: block;
    float: left;
    width: 1px;
    height: 32px;
  }

  .sub {
    background: lighten($topbarColor, 22%);
    margin: 0 -1em;
    padding: 0 1em;

    a {
      border: none;
      background: transparent;

      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
  }
}

