/**
 * $login-FORM
 */
 
 @include font-icon-family(entypo);


.toboggan-login-link {
  //background: url(../images/user.png) no-repeat right 0;
  display: block;
  @extend %button; 
  @include font-icon-base(entypo);
  @extend %entypo-users;
}

.tooltip div.description {
  position: absolute;
  left: -9999px;
  @include transition(all, 900ms, true, 900ms);

}
.tooltip input:hover ~ div.description {
  left: auto;

}
.tooltip input:focus ~ div.description {
  left: auto;
}

#edit-name {
  
    //background: #fff url(../images/user-24.png) no-repeat  5px center;
}
input[type="password"] {
    @include font-icon-base(entypo);
    @extend %entypo-lock;
    //background: #fff url(../images/lock-24.png) no-repeat  5px center;
}

input[type="email"], input[name="conf_mail"] {
  @include font-icon-base(entypo);
  @extend %entypo-mail;
    //background: #fff url(../images/email-24.png) no-repeat  5px center;
}
.user-login {
  .form-item, .form-actions {
    margin-bottom: 1.2em;
}
  .form-text {
    
  }
}
