/**
 * $BREADCRUMB
 */
.breadcrumb {
  @extend %hlist;
 // background:url(../images/bread1-bg.png);
  li {
    //background:url(../images/bread1-item.png) center right no-repeat;
    &.breadcrumb-last {
      background:none;
      color:#999999;
    }
    &:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline;
    }
    &:last-child:after {
      content: "";
    }
  }
}

