/**
 * $block-superfish
 */

.sf-menu {
//  float: left;
//  margin: 0;
//  padding: 0;
  display:inline-block;
  vertical-align: bottom;
  //@extend %hlist;
  a > .sf-sub-indicator {
//    top: 1.5em;
//    @include replace-text('images/simple-arrows.png');
  }
  &.rtl a > .sf-sub-indicator {
//    @include replace-text('images/simple-arrows-rtl.png');
  }
  &.sf-vertical a > .sf-sub-indicator {
//    top: 1.1em;
  }
  li {
    position: relative;
    z-index: 499;
  }
  li li {
    background-image: url("../images/dropdown_arrow.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    list-style: none outside none;
    padding: 0.3em 0.3em 0.3em 60px;
    position: relative;
    .sf-sub-indicator, a > .sf-sub-indicator {
//      top: 1em;
    }
  }
  
  ul {
//    padding-left: 0;
      width:20em;
     
  }
  &.rtl ul {
    padding-left: auto;
    padding-right: 0;
  }
  .sf-depth-1 {
//  @include pseudo-element(100%, $height: 240px, $content: "", $position: absolute, $display: block);

    @include transition(all, 900ms, true, 900ms);
   
  }
  .sf-depth-1:hover {
//  @include pseudo-element(100%, $height: 240px, $content: "", $position: absolute, $display: block);

    @include transition(all, 900ms, true, 900ms);
   
  }
  .menuparent.sf-depth-1:after{
//  @include pseudo-element(100%, $height: 240px, $content: "", $position: absolute, $display: block);
    content: "";
    display:block;
    height:0px;
    width: 9999px;   /* some huge width */;
    position:absolute;
    left:-1000px;
    //background-image:url(../images/gradient.png);
    @include background-image(linear-gradient(black 50%, transparent));
    z-index:498;
    @include transition(height, 1s);
   
  }
   .menuparent.sf-depth-1:hover:after  {
//  @include pseudo-element(100%, $height: 240px, $content: "", $position: absolute, $display: block);
    content: "";
    
    height:240px;


  }
  &.sf-horizontal.sf-shadow ul, &.sf-vertical.sf-shadow ul, &.sf-navbar.sf-shadow ul ul {
//    padding: 0 8px 7px 0 !important;

  }
  &.sf-horizontal.sf-shadow.rtl ul, &.sf-vertical.sf-shadow.rtl ul, &.sf-navbar.sf-shadow.rtl ul ul {
//    padding: 0 0 7px 8px !important;

  }
  &.sf-horizontal {
    li {
      &:hover > ul, &.sfHover > ul {
        top: 2em;
      }
    }
    > li {
      &:hover > ul, &.sfHover > ul {
//        left: -1px;
      }
    }
    &.rtl > li {
      &:hover > ul, &.sfHover > ul {
//        left: auto;
//        right: -1px;
      }
    }
    li li {
      &:hover > ul, &.sfHover > ul {
//        top: -1px;
      }
    }
  }
  &.sf-vertical li {
    &:hover > ul, &.sfHover > ul {
//      top: -1px;
    }
  }
  &.sf-navbar li li li {
    &:hover > ul, &.sfHover > ul, &.active-trail ul {
//      top: -1px;
    }
  }
  &.sf-horizontal {
    > li.first {
      &:hover > ul, &.sfHover > ul {
//        left: 10px;
      }
    }
    &.rtl > li.first {
      &:hover > ul, &.sfHover > ul {
//        left: auto;
//        right: 10px;
      }
    }
    li li li.first {
      &:hover > ul, &.sfHover > ul {
//        top: 10px;
      }
    }
  }
  &.sf-vertical li.first {
    &:hover > ul, &.sfHover > ul {
//      top: 10px;
    }
  }
  &.sf-navbar {
    li li {
      li li.first {
        &:hover > ul, &.sfHover > ul {
//          top: 10px;
        }
      }
      &:hover > ul, &.sfHover > ul {
//        top: 38px;
      }
    }
    > li {
      &:hover > ul, &.sfHover > ul, &.active-trail > ul {
//        top: 44px;
      }
    }
  }
  a {
//    color: #555555;
//    font: normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
//    padding: 1.4em 1.5em;
//    text-decoration: none;
//    text-shadow: 1px 1px 0 #ffffff;
      @include adjust-font-size-to($menu-font-size, 1.1);
      text-transform: uppercase;
      text-decoration: none;
      color: #FFF;
      //@extend %text-invisible;
      // use this http://compass-style.org/reference/compass/typography/text/replacement/
      background-repeat:no-repeat;
    &:visited {
//      color: #555555;
//      font: normal 12px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
//      padding: 1.4em 1.5em;
//      text-decoration: none;
//      text-shadow: 1px 1px 0 #ffffff;
    }
    &:focus, &:hover, &:active {
//      color: #222222;
    }
  }
  li {
    &:hover > a, &.sfHover > a {
//      color: #222222;
    }
    li a {
//      padding: 1em 1.5em;
    }
  }
  &.sf-vertical a {
//    padding: 1em 1.5em;
  }
  a.sf-with-ul {
//    padding-right: 3em;
  }
  &.rtl a.sf-with-ul {
    //padding-left: 3em;
    //padding-right: 1.5em;
  }
  span.sf-description {
//    color: #666666;
//    display: block;
//    font-size: 0.8em;
//    line-height: 1.5em;
//    margin: 5px 0 0 5px;
//    padding: 0;
  }
  &.sf-horizontal li, &.sf-navbar li {
//    border: 1px solid #e0e0e0;
//    border-left-color: #ffffff;
  }
  &.sf-horizontal > li.first, &.sf-navbar > li.first {
//    border-left-color: #e0e0e0;
  }
  &.sf-horizontal.rtl > li.first, &.sf-navbar.rtl > li.first {
//    border-left-color: #ffffff;
  }
  &.sf-horizontal.rtl > li.last {
//    border-left-color: #e0e0e0;
  }
  &.sf-navbar {
    &.rtl > li.last {
//      border-left-color: #e0e0e0;
    }
    li > ul > li {
//      border: 0 none;
//      border-bottom: 1px solid #e0e0e0;
      &.first {
//        border-left: 1px solid #e0e0e0;
      }
    }
    &.rtl li > ul > li.last {
//      border-left: 1px solid #e0e0e0;
    }
    li > ul > li.last, &.rtl li > ul > li.first {
//      border-right: 1px solid #e0e0e0;
    }
  }
  &.sf-vertical li, &.sf-horizontal li li, &.sf-navbar li li li {
//    border: 1px solid #e0e0e0;
//    border-top-color: #ffffff;
  }
  &.sf-vertical li.first, &.sf-horizontal li li li.first, &.sf-navbar li li li li.first {
//    border-top-color: #e0e0e0;
  }
  li {
    ul.sf-megamenu li.sf-megamenu-wrapper {
//      border-top-color: #e0e0e0;
    }
//    background: url('images/simple-background.png') repeat-x top left #eeeeee;
    &:hover, &.sfHover {
//      background: url('images/simple-background-active.png') repeat-x top left #fefefe;
    }
  }
  &.sf-horizontal {
    > li {
      &.first {

      }
      &.last {

      }
    }
    li li.sf-total-children-1 > ul > li.first {

    }
  }
  &.sf-vertical li li.sf-total-children-1 > ul > li.first, &.sf-navbar li li li.sf-total-children-1 > ul > li.first {

  }
  &.sf-vertical {
    > li.first {

    }
    li.last {

    }
  }
  &.sf-horizontal li li.last, &.sf-navbar li li li.last, li.sf-total-children-1 > ul > li.first {

  }
  &.sf-vertical.sf-total-items-1 > li.first, &.sf-horizontal.sf-total-items-1 > li.first {

  }
  &.sf-navbar {
    > li {
      &.first {

      }
      > ul > li {
        &.first {

        }
        &.last {

        }
      }
      &.last {

      }
    }
    li li li li.first {

    }
  }
  &.sf-vertical li li.first, &.sf-horizontal li li li.first {

  }
  &.sf-navbar.rtl > li.first {

  }
  &.sf-horizontal.rtl {
    > li.last, li li.sf-total-children-1 > ul > li.first {

    }
  }
  &.sf-vertical.rtl li li.sf-total-children-1 > ul > li.first, &.sf-navbar.rtl li li li.sf-total-children-1 > ul > li.first {

  }
  &.sf-horizontal.rtl > li.first {

  }
  &.sf-navbar.rtl {
    > li {
      > ul > li.first {

      }
      &.last {

      }
    }
    li li li li.first {

    }
  }
  &.sf-vertical.rtl li li.first, &.sf-horizontal.rtl li li li.first {

  }
  &.sf-navbar.rtl > li > ul > li.last {

  }
  &.sf-vertical.rtl li.last, &.sf-horizontal.rtl li li.last, &.sf-navbar.rtl li li li.last, &.rtl li.sf-total-children-1 > ul > li.first {

  }
  &.sf-horizontal, &.sf-vertical, &.sf-navbar {
//    text-align: center;
//    width: 100%;
  }
  &.sf-horizontal ul, &.sf-vertical ul, &.sf-navbar ul ul {
//    text-align: left;
  }
  &.sf-horizontal.rtl ul, &.sf-vertical.rtl ul, &.sf-navbar.rtl ul ul {
//    text-align: right;
  }
  &.sf-horizontal a, &.sf-navbar a {
//    display: inline;
  }
  &.sf-horizontal li li a, &.sf-navbar li li li a {
//    display: block;
  }
  &.sf-horizontal > li {
//    display: inline;
//    float: none;
//    padding: 1em 0 !important;
  }
  &.sf-navbar > li {
//    display: inline;
//    float: none;
//    padding: 1em 0 !important;
    > ul > li {
//      display: inline;
//      float: none;
//      padding: 1em 0 !important;
    }
  }
  &.sf-vertical > li {
//    display: block;
//    float: none;
//    margin: 0 auto;
//    text-align: left;
  }
  li ul.sf-megamenu li {
    ol li {
 //     background: none;
 //     border: 0 none;
    }
    &.sf-megamenu-wrapper {

//      background: url('images/simple-background.png') repeat-x top left #eeeeee;
      &:hover, &.sfHover {
//        background: url('images/simple-background.png') repeat-x top left #eeeeee;
      }
      ol {
 //       margin: 0;
 //       padding: 0;
        li {
 //         margin: 0;
 //         padding: 0;
        }
      }
    }
  }
  ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    > a {
 //     font-weight: bold;
 //     padding: 1em;
    }
    &:hover > a {
 //     color: #555555;
    }
    > a {
      &:focus, &:hover, &:active {
 //       color: #222222;
      }
    }
    ol li {
//      background: url('images/simple-list.png') no-repeat left center;
//      margin: 0 0 0 1em;
//      padding: 0 0 0 1em;
    }
  }
  &.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column ol li {
 //   background-position: right center;
 //   margin: 0 1em 0 0;
//    padding: 0 1em 0 0;
  }
  ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
    ol li a {
//      font-size: 0.8em;
//      padding: 0.5em 0;
    }
 //   display: inline;
 //   float: left;
 //   width: 12em;
  }
  &.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
 //   float: right;
  }
  li {
    &.sf-parent-children-1 ul.sf-megamenu {
  //    width: 12em;
    }
    &.sf-parent-children-2 ul.sf-megamenu {
 //     width: 24em;
    }
    &.sf-parent-children-3 ul.sf-megamenu {
 //     width: 36em;
    }
    &.sf-parent-children-4 ul.sf-megamenu {
 //     width: 48em;
    }
    &.sf-parent-children-5 ul.sf-megamenu {
 //     width: 60em;
    }
    &.sf-parent-children-6 ul.sf-megamenu {
//      width: 72em;
    }
    &.sf-parent-children-7 ul.sf-megamenu {
 //     width: 84em;
    }
    &.sf-parent-children-8 ul.sf-megamenu {
 //     width: 96em;
    }
    &.sf-parent-children-9 ul.sf-megamenu {
 //     width: 108em;
    }
    &.sf-parent-children-10 ul.sf-megamenu {
//      width: 120em;
    }
  }
  
//Menu Icons

//home
  a.menu-227, li.menu-227 a, li.menu-home a {
    @include replace-text("bt_home.jpg");
    width: 90px;
  }
  a.menu-227:hover, li.menu-227 a:hover, li.menu-home a:hover {
//, a.active.menu-227, li.active.menu-227 a, a.active-trail.menu-227, li.active-trail.menu-227 a {
    @include replace-text("bt_home_r.gif");
  }
//community
  a.community, li.menu-community a {
    @include replace-text("../images/bt_community.jpg");
    width: 180px;
  }

  a.community:hover, li.menu-community a:hover {
    @include replace-text("../images/bt_community_r.gif");
  }

  //Forum
  a.forums, li.menu-forums a, a.forum, li.menu-forum a {
    @include replace-text("../images/bt_forum.jpg");
    width: 75px;
  }
  a.menu-forums:hover, li.menu-forums a:hover, a.menu-forum:hover, li.menu-forum a:hover  {
    @include replace-text("../images/bt_forum_r.gif");
  }
//contact
  a.contact, li.menu-contact a, a.contactus, li.menu-contactus a {
    @include replace-text("../images/bt_contact.jpg");
    width: 180px;
  }
  a.contact:hover, li.menu-contact a:hover, a.contactus:hover, li.menu-contactus a:hover {
    @include replace-text("../images/bt_contact_r.gif");
  }

//aboutbecoming
  a.aboutbecoming, li.menu-about-becoming a, a.about-becoming, li.menu-about-becoming a  {
    @include replace-text("../images/bt_about.jpg");
    width: 200px;
  }
  a.aboutbecoming:hover, li.menu-about-becoming a:hover, a.about-becoming:hover, li.menu-about-becoming a:hover {
    @include replace-text("../images/bt_about_r.gif");
  }

// skydivers
  a.skydivers, li.menu-skydivers a {
    @include replace-text("../images/bt_skydivers.jpg");
    width: 111px;
}
a.skydivers:hover, li.menu-skydivers a:hover {
    @include replace-text("../images/bt_skydivers_r.gif");
}
//thanks
  a.specialthanks, li.menu-special-thanks a {
    @include replace-text("../images/bt_thanks.jpg");
    width: 166px;
}
  a.specialthanks:hover, li.menu-special-thanks a:hover {
    @include replace-text("../images/bt_thanks_r.gif");
}


//Projects
  a.projects, li.menu-projects a {
    @include replace-text("../images/bt_projects.jpg");
    width: 190px;
}
  a.projects:hover, li.menu-projects a:hover {
    @include replace-text("../images/bt_projects_r.gif");
}


//WSF
  a.wingsuitflyer, li.menu-wingsuitflyer a {
    @include replace-text("../images/bt_wingsuitflyer.jpg");
    width: 161px;
}
  a.wingsuitflyer:hover, li.menu-wingsuitflyer a:hover {

    @include replace-text("../images/bt_wingsuitflyer_r.gif");
}
//music
  a.music, li.menu-music a {
    @include replace-text("../images/bt_music.jpg");
    width: 81px;
  }
  a.music:hover, li.menu-music a:hover {
    //@include replace-text("../images/bt_music_r.gif");
    @include replace-text("../images/bt_music_r.gif")
  }

}
