/**
 * $TABS
 */

.tabs {
  
  margin-bottom: $vert-spacing-unit;
  
  li {
    
    

    a {
      padding:5px;
      //@include font-icon-base(entypo);
      //@extend %entypo-level-down;
      //@include sassy-button;
      // @include border-bottom-radius(0);
      //@include border-top-radius(5px);
      //@include typography-links-dark-bg;
      @include contrasted($bg-lighter-color,$rgb-color,fg-dark-color);
      //@include background-image(linear-gradient($bg-color,$rgb-color));
      &.active {
        //@include contrasted($bg-lighter-color);
        //@include sassy-button(matte, 5, $sb-font-size, $sb-base-color, $sb-second-color, $sb-text-color, inset)
      }
    }
  }
}
