/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "../../partials/utility";


body {
  //background: $bg-color image-url('diagonal.png') left top repeat;
  
}

.l-constrained {
  @extend %container;
}

/* Header */
.l-header {
  background-color: $bg-color;
}
.l-region--header {
  //padding: $vert-spacing-unit 0;

  .block {
    float: left;
  }
}
.l-region--hero {
  height: 27 * $vert-spacing-unit;
  overflow:hidden;
}
/* Content Area */
.l-highlighted-wrapper {
  //padding: $vert-spacing-unit 0;
  position:relative;
  
}
.l-region--highlighted {
  //position:absolute;
  @extend %container;
  position:relative;
  top: -258px;
  z-index:20;
  height:0;
  max-height: 25 * $vert-spacing-unit;
  .block {
    //@include reset-block-columns;
    @include span-columns(8, 24, false, right);
    
    height: 0;
    &:nth-child(3) {
      @include omega;
    }
    
  }
}

.l-region--help {
  margin-bottom: $vert-spacing-unit;
}
.l-main {
  margin-top: 2 * $vert-spacing-unit;
  margin-bottom: 2 * $vert-spacing-unit;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  //background-color: #FFF;
  
}

/* Footer 
@include sticky-footer($footer-height, "#l-main", "#layout-footer", ".l-footer-wrapper");
.l-footer-wrapper {
  @include with-grid-settings(12,4em,1.5em,1em) {
  .block {
    //@include reset-block-columns;
    //@include block-columns(5);
     @include span-columns(3, 12, false, $from-direction, magic);
    //@extend %container;
    &:nth-child(4) {
      @include omega;
    }
  }
}
  
  height:$footer-height;
  
  
}
*/

  .l-constrained {
    @include set-container-width;
  }

  /* Header */

  .l-region--navigation {
    @include span-columns(15, 24);
    text-align:center;
    //margin-top: 4 * $vert-spacing-unit;
    //height:5 * $vert-spacing-unit;
  }
  .l-region--header {
    @include span-columns(15, 24);
    height:13 * $vert-spacing-unit;
    
  }
  .l-branding {
    @include span-columns(9 omega, 24);
    float:none;
    display:inline-block;
  }
  /* Sidebars */
  .has-one-sidebar {
    .l-content {
      @include span-columns(15, 24);
    }
    .l-region--sidebar-first,.l-region--sidebar-second {
      @include span-columns(9, 24);
      @include omega;
      clear: none;
    }
  }

@include at-breakpoint($tab) {
}

@include at-breakpoint($desk) {
  .l-constrained {
    @include set-container-width;
  }
  
  /* Sidebars */
  .has-one-sidebar {
    .l-content {
      @include span-columns(15, 24);
    }
    .l-region--sidebar-first {
      @include span-columns(9, 24);
      @include omega;
      clear: none;
    }
  }

    .has-two-sidebars {
    .l-content {
      @include span-columns(15, 24); // Span 8 out of 24 columns.
      //@include push(4, 24);  // Push element by adding 4 out of 24 columns of left margin.
    }
    .l-region--sidebar-first {
      @include pull(5, 24);
      @include span-columns(5, 24);
      margin-top: $vert-spacing-unit;
      clear: none;
    }
    .l-region--sidebar-second {
      @include span-columns(9, 24);
      @include omega;
    }
  }
}
