/* Styles if using Skinr block skins.  Only loads when Skinr module is enabled */

/* =============================================================================
 *   COLORS
 * ========================================================================== */

/* BACKGROUND COLOR *//* BACKGROUND COLOR */

.wh-bbg .node__content {
  background-color: #fff;
  color: #333;
}

.lgy-bbg .node__content {
  background-color: #F2F2F2;
  color: #333;
}

.gy-bbg .node__content {
  background-color: #D2D2D2;
  color: #333;
}

.dgy-bbg .node__content {
  background-color: #747474;
  color: #fff;
}

.bk-bbg .node__content {
  background-color: #242424;
  color: #fff;
}

.ltn-bbg .node__content {
  background-color: #F1EEE5;
  color: #333;
}

.tn-bbg .node__content {
  background-color: #CDC2AA;
  color: #333;
}

.dtn-bbg .node__content {
  background-color: #A6977E;
  color: #fff;
}

.brn-bbg .node__content {
  background-color: #4E453C;
  color: #FFF;
}

.lbl-bbg .node__content {
  background-color: #B5CFEF;
  color: #333;
}

.bl-bbg .node__content {
  background-color: #0E53A6;
  color: #fff;
}

.dbl-bbg .node__content {
  background-color: #143865;
  color: #fff;
}

.lgr-bbg .node__content {
  background-color: #c5dbad;
  color: #333;
}

.gr-bbg .node__content {
  background-color: #367512;
  color: #fff;
}

.dgr-bbg .node__content {
  background-color: #1F5120;
  color: #fff;
}

.ltl-bbg .node__content {
  background-color: #BCD0CE;
  color: #333;
}

.tl-bbg .node__content {
  background-color: #45676B;
  color: #fff;
}

.red-bbg .node__content {
  background-color: #B01C1C;
  color: #fff;
}

.lor-bbg .node__content {
  background-color: #F2B789;
  color: #333;
}

.or-bbg .node__content {
  background-color: #E9620F;
  color: #fff;
}

.lmr-bbg .node__content {
  background-color: #D5B4B9;
  color: #333;
}

.mr-bbg .node__content {
  background-color: #793B48;
  color: #fff;
}

.lpr-bbg .node__content {
  background-color: #C4BBD9;
  color: #333;
}

.pr-bbg .node__content {
  background-color: #554675;
  color: #fff;
}

.wh-bbg .block__content {
  background-color: #fff;
  color: #333;
}

.lgy-bbg .block__content {
  background-color: #F2F2F2;
  color: #333;
}

.gy-bbg .block__content {
  background-color: #D2D2D2;
  color: #333;
}

.dgy-bbg .block__content {
  background-color: #747474;
  color: #fff;
}

.bk-bbg .block__content {
  background-color: #242424;
  color: #fff;
}

.ltn-bbg .block__content {
  background-color: #F1EEE5;
  color: #333;
}

.tn-bbg .block__content {
  background-color: #CDC2AA;
  color: #333;
}

.dtn-bbg .block__content {
  background-color: #A6977E;
  color: #fff;
}

.brn-bbg .block__content {
  background-color: #4E453C;
  color: #FFF;
}

.lbl-bbg .block__content {
  background-color: #B5CFEF;
  color: #333;
}

.bl-bbg .block__content {
  background-color: #0E53A6;
  color: #fff;
}

.dbl-bbg .block__content {
  background-color: #143865;
  color: #fff;
}

.lgr-bbg .block__content {
  background-color: #c5dbad;
  color: #333;
}

.gr-bbg .block__content {
  background-color: #367512;
  color: #fff;
}

.dgr-bbg .block__content {
  background-color: #1F5120;
  color: #fff;
}

.ltl-bbg .block__content {
  background-color: #BCD0CE;
  color: #333;
}

.tl-bbg .block__content {
  background-color: #45676B;
  color: #fff;
}

.red-bbg .block__content {
  background-color: #B01C1C;
  color: #fff;
}

.lor-bbg .block__content {
  background-color: #F2B789;
  color: #333;
}

.or-bbg .block__content {
  background-color: #E9620F;
  color: #fff;
}

.lmr-bbg .block__content {
  background-color: #D5B4B9;
  color: #333;
}

.mr-bbg .block__content {
  background-color: #793B48;
  color: #fff;
}

.lpr-bbg .block__content {
  background-color: #C4BBD9;
  color: #333;
}

.pr-bbg .block__content {
  background-color: #554675;
  color: #fff;
}

/* HEADER BACKGROUND COLOR */

.l-page .gy-bhd h3.block__title {
  background: #CCC url(images/nav-bg-gray.gif) top left repeat-x;
  color: #333;
}

.l-page .bk-bhd h3.block__title {
  background: #272727 url(images/nav-bg-black.gif) top left repeat-x;
  color: #FFF;
}

.l-page .br-bhd h3.block__title {
  background: #423a34 url(images/nav-bg-brown.gif) top left repeat-x;
  color: #FFF;
}

.l-page .bl-bhd h3.block__title {
  background: #2C2C2C url(images/nav-bg-blue.gif) top left repeat-x;
  color: #FFF;
}

.l-page .dbl-bhd h3.block__title {
  background: #103058 url(images/nav-bg-dkblue.gif) top left repeat-x;
  color: #FFF;
}

.l-page .gr-bhd h3.block__title {
  background: #2B6B0B url(images/nav-bg-green.gif) top left repeat-x;
  color: #FFF;
}

.l-page .dgr-bhd h3.block__title {
  background: #1c481d url(images/nav-bg-dkgreen.gif) top left repeat-x;
  color: #FFF;
}

.l-page .tl-bhd h3.block__title {
  background: #3e5f63 url(images/nav-bg-teal.gif) top left repeat-x;
  color: #FFF;
}

.l-page .rd-bhd h3.block__title {
  background: #A51D1D url(images/nav-bg-red.gif) top left repeat-x;
  color: #FFF;
}

.l-page .or-bhd h3.block__title {
  background: #c85522 url(images/nav-bg-orange.gif) top left repeat-x;
  color: #FFF;
}

.l-page .mr-bhd h3.block__title {
  background: #672D39 url(images/nav-bg-maroon.gif) top left repeat-x;
  color: #FFF;
}

.l-page .pr-bhd h3.block__title {
  background: #4b3e68 url(images/nav-bg-purple.gif) top left repeat-x;
  color: #FFF;
}

.l-page .gy-bhd header {
  background: #CCC url(images/nav-bg-gray.gif) top left repeat-x;
  color: #333;
}

.l-page .bk-bhd header {
  background: #272727 url(images/nav-bg-black.gif) top left repeat-x;
  color: #FFF;
}

.l-page .br-bhd header {
  background: #423a34 url(images/nav-bg-brown.gif) top left repeat-x;
  color: #FFF;
}

.l-page .bl-bhd header {
  background: #2C2C2C url(images/nav-bg-blue.gif) top left repeat-x;
  color: #FFF;
}

.l-page .dbl-bhd header {
  background: #103058 url(images/nav-bg-dkblue.gif) top left repeat-x;
  color: #FFF;
}

.l-page .gr-bhd header {
  background: #2B6B0B url(images/nav-bg-green.gif) top left repeat-x;
  color: #FFF;
}

.l-page .dgr-bhd header {
  background: #1c481d url(images/nav-bg-dkgreen.gif) top left repeat-x;
  color: #FFF;
}

.l-page .tl-bhd header {
  background: #3e5f63 url(images/nav-bg-teal.gif) top left repeat-x;
  color: #FFF;
}

.l-page .rd-bhd header {
  background: #A51D1D url(images/nav-bg-red.gif) top left repeat-x;
  color: #FFF;
}

.l-page .or-bhd header {
  background: #c85522 url(images/nav-bg-orange.gif) top left repeat-x;
  color: #FFF;
}

.l-page .mr-bhd header {
  background: #672D39 url(images/nav-bg-maroon.gif) top left repeat-x;
  color: #FFF;
}

.l-page .pr-bhd header {
  background: #4b3e68 url(images/nav-bg-purple.gif) top left repeat-x;
  color: #FFF;
}
/* HEADER TEXT COLOR */

.l-page .wh-bht h3.block__title,
.l-page .wh-bht h3.block__title a {
  color: #FFF;
}

.l-page .by-bht h3.block__title {
  color: #767676;
}

.l-page .bk-bht h3.block__title {
  color: #323232;
}
 
.l-page .br-bht h3.block__title {
  color: #594D42;
}
 
.l-page .bl-bht h3.block__title {
  color: #1A59B1;
}

.l-page .dbl-bht h3.block__title {
  color: #2D4A6B;
}

.l-page .gr-bht h3.block__title {
  color: #2A9400;
}
 
.l-page .dgr-bht h3.block__title {
  color: #3A572D;
}
 
.l-page .tl-bht h3.block__title {
  color: #37676D;
}
 
.l-page .rd-bht h3.block__title {
  color: #BF1D20;
}

.l-page .mr-bht h3.block__title {
  color: #773743;
}
 
.l-page .pr-bht h3.block__title {
  color: #624F88;
}

.l-page .or-bht h3.block__title {
  color: #DD5C0B;
}

.l-page .wh-bht header,
.l-page .wh-bht header a {
  color: #FFF;
}

.l-page .by-bht header {
  color: #767676;
}

.l-page .bk-bht header {
  color: #323232;
}
 
.l-page .br-bht header {
  color: #594D42;
}
 
.l-page .bl-bht header {
  color: #1A59B1;
}

.l-page .dbl-bht header {
  color: #2D4A6B;
}

.l-page .gr-bht header {
  color: #2A9400;
}
 
.l-page .dgr-bht header {
  color: #3A572D;
}
 
.l-page .tl-bht header {
  color: #37676D;
}
 
.l-page .rd-bht header {
  color: #BF1D20;
}

.l-page .mr-bht header {
  color: #773743;
}
 
.l-page .pr-bht header {
  color: #624F88;
}

.l-page .or-bht header {
  color: #DD5C0B;
}
/* LINK COLOR */

.l-page .wh-lnk a {
  color: #fff;
}

.l-page .br-lnk a {
  color: #82654B;
}

.l-page .bl-lnk a {
  color: #135DB1;
}

.l-page .gr-lnk a {
  color: #2A9400;
}

.l-page .tl-lnk a {
  color: #2A7E87;
}

.l-page .rd-lnk a {
  color: #BF1D20;
}

.l-page .mr-lnk a {
  color: #85283B;
}

.l-page .pr-lnk a {
  color: #755AAF;
}

.l-page .or-lnk a {
  color: #E6683B;
}

/* Override default theme settings for individual blocks */
.l-page .no-bbg .block__content,
.l-page .no-bhd h3.block__title {
  background: transparent; 
}

.l-page .no-bbg .block__content {
  color: inherit;
}
.l-page .no-bbg .node__content,
.l-page .no-bhd header {
  background: transparent; 
}

.l-page .no-bbg .node__content {
  color: inherit;
}
/* =============================================================================
 *   CSS3
 * ========================================================================== */

/* ROUND CORNERS BLOCKS*/

/*0px*/
.l-page .block.rc0 .block__content  {
  border-radius: 0px;
}

.l-page .block.rc0 h3.block__title {
  border-radius: 0px 0px 0px 0px;
}

/*3px*/
.l-page .rc3 .block__content  {
  border-radius: 3px;
}

.l-page .rc3 h3.block__title {
  border-radius: 3px 3px 0px 0px;
}

/*7px*/
.l-page .rc7 .block__content  {
  border-radius: 7px;
}

.l-page .rc7 h3.block__title {
  border-radius: 7px 7px 0px 0px;
}

/*11px*/
.l-page .rc11 .block__content  {
  border-radius: 11px;
}

.l-page .rc11 h3.block__title {
  border-radius: 11px 11px 0px 0px;
}

/* DROP SHADOWS */
.l-page .block.ds0 .block__content {
  box-shadow: 0px 0px 0px #aaa;    
}

.l-page .ds2 .block__content {
  box-shadow: 1px 1px 2px #aaa;   
}

.l-page .ds4 .block__content {
  box-shadow: 2px 2px 4px #aaa;     
}


/* ROUND CORNERS NODES*/

/*0px*/
.l-page .block.rc0 .node__content  {
  border-radius: 0px;
}

.l-page .block.rc0 h3.block__title {
  border-radius: 0px 0px 0px 0px;
}

/*3px*/
.l-page .rc3 .node__content  {
  border-radius: 3px;
}

.l-page .rc3 h3.block__title {
  border-radius: 3px 3px 0px 0px;
}

/*7px*/
.l-page .rc7 .node__content  {
  border-radius: 7px;
}

.l-page .rc7 h3.block__title {
  border-radius: 7px 7px 0px 0px;
}

/*11px*/
.l-page .rc11 .node__content  {
  border-radius: 11px;
}

.l-page .rc11 h3.block__title {
  border-radius: 11px 11px 0px 0px;
}

/* DROP SHADOWS */
.l-page .block.ds0 .node__content {
  box-shadow: 0px 0px 0px #aaa;    
}

.l-page .ds2 .node__content {
  box-shadow: 1px 1px 2px #aaa;   
}

.l-page .ds4 .node__content {
  box-shadow: 2px 2px 4px #aaa;     
}


