/*
This file contains colors, graphics, and text effects.

Colors used:
  #000 Borders, post seperator, avatar frame, statistics subheader.
  $dark-color Table header font color.
  #fff to #DDDDDD Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #fff to $bg-light-color Gradient on topic list background.
  #fff Stats section background.
  #FAFAFA Text area on posts.
*/
/* Light red */
/* Light red */
/* Light red */
/* Light red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
h1.title {
  height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000376}}
h1.title h1, h1.title h2, h1.title h3, h1.title h4, h1.title h5, h1.title h6 {
  font-family: Arial, Verdana, sans-serif;
  background-color: #222222;
  color: #e7e7e7;
  text-transform: uppercase;
  margin: 0;
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000316}}
.node-type-forum, .forum-post, .forum-comments, .forum-table, .forum-table-topics, .forum-table-wrap {
  color: #0a0003;
  background: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000320}}
.node-type-forum.field-type-field-collection > .field-label, .forum-post.field-type-field-collection > .field-label, .forum-comments.field-type-field-collection > .field-label, .forum-table.field-type-field-collection > .field-label, .forum-table-topics.field-type-field-collection > .field-label, .forum-table-wrap.field-type-field-collection > .field-label {
  margin-bottom: 1em;
  font-size: 1.4em;
  border-bottom: 3px solid #af0136;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000327}}
.forum-table {
  color: #0a0003;
  position: relative;
  margin-bottom: 2.5em;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000334}}
.forum-table .field-items .field-item {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000337}}
.forum-table .field-items .field-item:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000342}}
.forum-table .field-items .field-item *:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000346}}
.forum-table .field-items .field-item *:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000354}}
.forum-table ul.action-links-field-collection-add,
.field-collection-view ul.field-collection-view-links {
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000356}}
.forum-table ul.action-links-field-collection-add a,
.field-collection-view ul.field-collection-view-links a {
  text-decoration: none;
  margin-right: 0;
  padding: .3em .5em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000364}}
.field-collection-view ul.field-collection-view-links {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  clear: both;
  float: none;
  text-align: right;
  border-bottom: 3px solid #0a0003;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/toolkit-1\.3\.3\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000343}}
.field-collection-view ul.field-collection-view-links:before, .field-collection-view ul.field-collection-view-links:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/toolkit-1\.3\.3\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000350}}
.field-collection-view ul.field-collection-view-links:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000372}}
.field-collection-view ul.field-collection-view-links li {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000376}}
.field-collection-view ul.field-collection-view-links a {
  background-color: #0a0003;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000380}}
.field-collection-view ul.field-collection-view-links a:hover, .field-collection-view ul.field-collection-view-links a:focus, .field-collection-view ul.field-collection-view-links a:active {
  background-color: white;
  color: #0a0003;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000387}}
.forum-table ul.action-links-field-collection-add {
  position: absolute;
  top: 2.6em;
  right: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000393}}
.forum-table ul.action-links-field-collection-add a {
  background-color: #af0136;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\0000397}}
.forum-table ul.action-links-field-collection-add a:hover, .forum-table ul.action-links-field-collection-add a:focus, .forum-table ul.action-links-field-collection-add a:active {
  background-color: black;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003104}}
.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003110}}
.forum-icon {
  background-image: none;
  width: 100%;
}

/*** PAGER *******************************************************************/
/* This is the pager on the topics in the list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003118}}
.topic-pager {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003122}}
.forum-pager .pager a, #forum-comments .pager a {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003127}}
.forum-pager .pager a:link, .forum-pager .pager a:visited {
  text-decoration: none;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #1c1c1c));
  background-image: -webkit-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: -moz-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: -o-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: linear-gradient(#e2e2e2, #1c1c1c);
  color: #0a0003;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003136}}
#forum-comments .pager a:link, #forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #1c1c1c));
  background-image: -webkit-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: -moz-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: -o-linear-gradient(#e2e2e2, #1c1c1c);
  background-image: linear-gradient(#e2e2e2, #1c1c1c);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003144}}
.forum-pager .pager-current, .forum-pager .pager a:hover {
  background: #0a0003;
  color: #fff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003151}}
#forum-comments .pager-current, #forum-comments .pager a:hover {
  background: #0a0003;
  color: #fff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003157}}
.forum-pager .pager a.active, #forum-comments .pager a.active {
  color: #0a0003;
}

/*** FORUM & TOPIC LISTS ******************************************************/
/* Forum list and topic list tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003165}}
.forum-table {
  border: 1px solid black;
}

/* Table name and description on forum list and table header on topic list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003171}}
.forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
  color: #0a0003;
}

/* Table name on forum list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003179}}
.forum-table-superheader .forum-table-name {
  color: #0a0003;
  font-weight: bold;
  color: #0a0003;
  font-weight: bold;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003185}}
.forum-table-superheader .forum-table-name a {
  color: #0a0003;
  font-weight: bold;
  color: #0a0003;
  font-weight: bold;
  border-bottom: none;
}

/* Table header on forum list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003196}}
.forum-table-wrap thead tr {
  background-color: white;
  border: 1px solid black;
}

/* Table header on forum list and topic list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003205}}
.forum-table thead tr a {
  color: #0a0003;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003208}}
.forum-table thead tr a:visited, .forum-table thead tr a:link {
  color: #0a0003;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003213}}
.forum-table thead th {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003218}}
.forum-table tr.even, .forum-table tr.odd {
  border-top: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003222}}
.forum-table tr.even td.active, .forum-table tr.odd td.active {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003226}}
.forum-table td {
  border: 1px solid black;
}

/* Reset to avoid bleed-thru from theme */
/* Rows on both tables */
/* Active column on both tables - reset to prevent bleed thru from theme */
/* Individual cells on both tables */
/* Placeholder when there are no topics in the list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003241}}
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid black;
}

/*** Sticky topics ***/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003248}}
.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003251}}
.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003258}}
#forum-statistics {
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003262}}
#forum-statistics-header {
  border-top: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003269}}
.forum-statistics-sub-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003275}}
.forum-statistics-sub-body {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003278}}
.forum-statistics-statistics-body, .forum-statistics-topics {
  background-color: white;
  color: #0a0003;
}

/*** FORUM TOPICS **********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003284}}
div.forum-post {
  border: 1px solid black;
}

/* Header at the top of each post */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003290}}
.forum-post-info {
  border-top: 1px solid #FAFAFA;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
  color: #0a0003;
  font-weight: bold;
  border-bottom: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003298}}
.forum-posted-on {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003302}}
.forum-post-number a {
  color: #0a0003 !important;
}

/* Wrapper around author pane and content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003308}}
.forum-post-wrapper {
  background-color: #0a0003;
}

/* Author information pane */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003315}}
.forum-post-panel-sub .author-pane .author-name {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003318}}
.forum-post-panel-sub .author-pane .picture img {
  border: 1px solid black;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003322}}
.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003329}}
.forum-post-panel-main {
  border-left: 1px solid black;
  background-color: #FAFAFA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003334}}
.forum-post-title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

/* Signature */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003341}}
.author-signature {
  font-size: .8em;
}

/* Post footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003347}}
.forum-post-footer {
  border-top: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003351}}
.forum-jump-links {
  border-right: none;
}

/* Box under top post before first reply */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003357}}
.forum-top-post-footer {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
}

/* Topic navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.style\.scss}line{font-family:\00003364}}
.forum-topic-navigation {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#e2e2e2, #dddddd);
  background-image: -moz-linear-gradient(#e2e2e2, #dddddd);
  background-image: -o-linear-gradient(#e2e2e2, #dddddd);
  background-image: linear-gradient(#e2e2e2, #dddddd);
}
