/* Light red */
/* Light red */
/* Light red */
/* Light red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
h1.title {
  height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000376}}
h1.title h1, h1.title h2, h1.title h3, h1.title h4, h1.title h5, h1.title h6 {
  font-family: Arial, Verdana, sans-serif;
  background-color: #222222;
  color: #e7e7e7;
  text-transform: uppercase;
  margin: 0;
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/* FORUM LIST ICONS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\000035}}
.forum-list-icon-wrapper {
  border-top: 1px solid #EAF8E4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#f5f5f5, #dddddd);
  background-image: -moz-linear-gradient(#f5f5f5, #dddddd);
  background-image: -o-linear-gradient(#f5f5f5, #dddddd);
  background-image: linear-gradient(#f5f5f5, #dddddd);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #0a0003;
  font-family: Arial, Verdana, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000322}}
tr.even td.forum-list-icon-default .forum-list-icon-wrapper span, tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span {
  background: transparent url(../../../../../images/forum_list_default.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000327}}
.forum-list-icon-legend .forum-list-icon-default {
  background: transparent url(../../../../../images/forum_list_default.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000332}}
tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span, tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span {
  background: transparent url(../../../../../images/forum_list_new_posts.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000337}}
.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(../../../../../images/forum_list_new_posts.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000341}}
th.forum-icon {
  width: auto;
  background-image: url("../../../../../images/forum-icons.png");
  background-repeat: no-repeat;
  float: left;
  margin-right: 0.4em;
  text-indent: -9999px;
}

/* TOPIC LIST ICONS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000353}}
span.topic-icon {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000359}}
.topic-icon-default {
  background: transparent url(../../../../../images/topic_list_default.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000363}}
.topic-icon-new {
  background: transparent url(../../../../../images/topic_list_new.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000367}}
.topic-icon-hot {
  background: transparent url(../../../../../images/topic_list_hot.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000371}}
.topic-icon-hot-new {
  background: transparent url(../../../../../images/topic_list_hot_new.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000375}}
.topic-icon-sticky {
  background: transparent url(../../../../../images/topic_list_sticky.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000379}}
.topic-icon-closed {
  background: transparent url(../../../../../images/topic_list_closed.png) no-repeat center center;
}

/* TOPIC LIST ICON LEGEND ***************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000385}}
.topic-icon-default {
  background: transparent url(../../../../../images/topic_list_default.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000389}}
.topic-icon-new {
  background: transparent url(../../../../../images/topic_list_new.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000393}}
.topic-icon-hot {
  background: transparent url(../../../../../images/topic_list_hot.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\0000397}}
.topic-icon-hot-new {
  background: transparent url(../../../../../images/topic_list_hot_new.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003101}}
.topic-icon-sticky {
  background: transparent url(../../../../../images/topic_list_sticky.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003105}}
.topic-icon-closed {
  background: transparent url(../../../../../images/topic_list_closed.png) no-repeat top left;
}

/* AUTHOR PANE **************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003112}}
.forum-post-panel-sub .author-online {
  background: transparent url(../../../../../images/ap_user_online.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003119}}
.forum-post-panel-sub .author-offline {
  background: transparent url(../../../../../images/ap_user_offline.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}

/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003132}}
a.af-button-large {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003135}}
a.af-button-large:link, a.af-button-large:visited {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003140}}
a.af-button-small {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003143}}
a.af-button-small:link, a.af-button-small:visited {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003148}}
a.author-pane-link {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003151}}
a.author-pane-link:link, a.author-pane-link:visited {
  color: #0a0003;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003158}}
.af-button-large, .af-button-small, .author-pane-link {
  display: block;
  border-top: 1px solid #EAF8E4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#dfdfdf, #ffffff);
  background-image: -moz-linear-gradient(#dfdfdf, #ffffff);
  background-image: -o-linear-gradient(#dfdfdf, #ffffff);
  background-image: linear-gradient(#dfdfdf, #ffffff);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #0a0003;
  font-family: Arial, Verdana, sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003173}}
a.af-button-large:hover, a.af-button-small:hover, a.author-pane-link:hover, a.af-button-large:active, a.af-button-small:active, a.author-pane-link:active {
  background: white;
  color: #0a0003;
  border-top-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003180}}
.af-button-large span {
  font-size: 14px;
  padding: 2px 2px 2px 25px;
  /* Last number controls width for image */
  line-height: 30px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003190}}
.af-button-small span {
  font-size: 12px;
  padding: 2px 2px 2px 20px;
  /* Last number controls width for image */
  line-height: 25px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003200}}
.author-pane-link span {
  font-size: 12px;
  padding: 0 0 0 22px;
  /* Last number controls width for image */
  line-height: 22px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

/* BUTTONIZED LINKS - INDIVIDUAL BUTTONS ************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003212}}
.forum-add-forum .af-button-large span {
  background: url(../../../../../images/add_topic.png) no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003216}}
.forum-add-poll .af-button-large span {
  background: url(../../../../../images/add_poll.png) no-repeat;
}

/*** Reply/Locked at the top and bottom of individual topics. ***/
/* Reply link */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003224}}
.topic-reply-allowed .af-button-large span {
  background: url(../../../../../images/topic_reply.png) no-repeat;
}

/* Locked topic (not a link so an extra span is used instead of the "a". */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003230}}
.topic-reply-locked .af-button-large span {
  background: url(../../../../../images/topic_locked.png) no-repeat;
}

/* Last post */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003236}}
.last-post-link .af-button-large span {
  background: url(../../../../../images/topic_last_post.png) no-repeat;
}

/* First unread */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003242}}
.topic-new-post-link .af-button-large span {
  background: url(../../../../../images/topic_first_unread_post.png) no-repeat;
}

/*** Links on the individual posts (nodes and comments). ***/
/* General */
/* Reply */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003254}}
.comment-add .af-button-small span, .comment-reply .af-button-small span {
  background: url(../../../../../images/post_reply.png) no-repeat;
}

/* Quote */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003260}}
.quote .af-button-small span {
  background: url(../../../../../images/post_quote.png) no-repeat;
}

/* Edit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003266}}
.comment-edit .af-button-small span, .post-edit .af-button-small span {
  background: url(../../../../../images/post_edit.png) no-repeat;
}

/* Delete */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003272}}
.comment-delete .af-button-small span, .post-delete .af-button-small span {
  background: url(../../../../../images/post_delete.png) no-repeat;
}

/* Jump to top */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003278}}
.forum-jump-links .af-button-small span {
  background: url(../../../../../images/topic_top.png) no-repeat;
}

/*** AUTHOR PANE ***/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003285}}
.forum-post-panel-sub .author-contact .author-pane-link span {
  background: transparent url(../../../../../images/ap_email.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003288}}
.forum-post-panel-sub .author-privatemsg .author-pane-link span {
  background: transparent url(../../../../../images/ap_private_message.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003291}}
.forum-post-panel-sub .author-relationship-add-icon.author-pane-link span {
  background: transparent url(../../../../../images/ap_contact_add.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-7\.x-1\.0-alpha5\/data\/becoming\/sites\/all\/themes\/custom\/ohm_becoming\/sass\/partials\/base\/forum_style\/skydiver\/advanced-forum\.skydiver\.images\.scss}line{font-family:\00003294}}
.forum-post-panel-sub .author-relationship-remove-icon.author-pane-link {
  background: transparent url(../../../../../images/ap_contact_remove.png) no-repeat;
}
