
%styled-block {
  
  background: $bg-color url(../images/bg.jpg);
  @include typography-links-dark-bg;
  @include contrasted($bg-color);
  .block__content{
    @include contrasted($bg-lighter-color);

  }
  @include rhythm(0,0,0,1);
  .block__title {
    @include contrasted($bg-light-color);
  }
}

%transbg-block {
  
  @include background-image(linear-gradient($bg-color,$rgb-color));
  @include typography-links-dark-bg;
  .block__content{
    @include rhythm(1,0,0,1);
  }
  
}

