$debug-grid: false !default;

@mixin grid-background {
  @if $debug-grid == true {
    @include susy-grid-background;
  }
}

%container {
  @include container;
  @include grid-background;
}


@mixin block-columns($cols) {

  @include span-columns($total-columns / $cols,$total-columns,10px,right);

  // The last block in a row gets the omega postfix.
  &:nth-child(#{$cols}n) {
    @include omega(right);
    
  }

  // The first block after a row clears left.
  &:first-child, &:nth-child(#{$cols}n+#{$cols+1}) {
    clear: both;
  }
}

@mixin reset-block-columns {
  @include reset-columns;
  
  // Reset 'omega' definitions for all elements.
  &:nth-child(1n) {
    @include remove-omega;
  }

  // Reset clears.
  &:nth-child(1n) {
    clear: none;
  }
}
