// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
  @include adjust-font-size-to($font-size);
  font-size: ($font-size / $base-font-size)*1rem;
}
//Base
@mixin typography-base {
  body {
    font-family: $font-family-light;
    @include establish-baseline($base-font-size);
    
    color: $fg-color;
  }

  em {
    font-style: italic;
  }

  strong {
    font-family: $font-family-bold;
  }

  p, pre {
    margin: 0.5em 0;
  }

  label {
    color: #444444;
    display: block;
    font-family: $font-family-bold;
    font-weight: normal;
  }
}

//Links


@mixin typography-links {
  @include typography-links-base;
  @include typography-links-facetapi;
}

@mixin typography-links-base {
  a {
    @include link-hover-transition;
    @include link-colors($base-color, $light-color, $sat-color, $desat-color, $complement-color);
    @include hover-link;
  }
}

@mixin typography-links-dark-bg {
  a {
    @include link-colors($sat-color, $light-color, $sat-color, $desat-color, $complement-color);
  }
}

@mixin typography-links-remove {
  a {
    color: $fg-color;
    &:hover, &:focus, &:active {
      color: $fg-color;
      text-decoration: none;
    }
  }
}

@mixin typography-links-facetapi {
  .facetapi-limit-link {
    display: block;
    margin-top: 9px;
  }
}
//Headings

%typography-headings {
  font-family: $font-family-bold;
  @extend %h-pad;
  text-transform: uppercase;
  font-family: $font-family-bold;
  text-transform: uppercase;
  
  a {
    text-decoration: none;
    
  }
}

.two-sidebars h1.title {
  width:500px;
}

h1.title {
  @extend %typography-headings;
  min-height: 105px;
  @include rgba-background(rgba(15,15,15,0.75));
  
  
}

@mixin h2-heading-style {
  @extend %typography-headings;
  
  
  
}
@mixin h2-block-title {
  @extend %typography-headings;
}

