a.follow-link {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float:left;
    height: 60px;
    line-height: 26px;
    width: 60px;
    @include hide-text;
}
a.follow-link-facebook {
    background-image: url("../images/bt_fb.jpg");
    &:hover {
      background-image: url("../images/bt_fb_r.gif");
    }
}

a.follow-link-myspace {
    background-image: url("../images/bt_myspace.jpg");
}
a.follow-link-virb {
    background-image: url("../images/bt_virb.jpg");
}
a.follow-link-bliptv {
    background-image: url("../images/bt_bliptv.jpg");
}
a.follow-link-lastfm {
    background-image: url("../images/bt_lastfm.jpg");
}
a.follow-link-youtube {
    background-image: url("../images/bt_youtube.jpg");
    width: 150px;
    &:hover {
      background-image: url("../images/bt_youtube_r.gif");
    }
}
a.follow-link-twitter {
    background-image: url("../images/bt_twitter.jpg");
}
a.follow-link-picasa {
    background-image: url("../images/bt_picasa.jpg");
}
a.follow-link-flickr {
    background-image: url("../images/bt_flickr.jpg");
}
a.follow-link-vimeo {
    background-image: url("../images/bt_vimeo.jpg");
}
a.follow-link-linkedin {
    background-image: url("../images/bt_linkedin.jpg");
}
a.follow-link-delicious {
    background-image: url("../images/bt_delicious.jpg");
}
a.follow-link-tumblr {
    background-image: url("../images/bt_tumblr.jpg");
}
a.follow-link-this-site {
  background-image: url("../images/bt_feed.jpg");
  &:hover {
    background-image: url("../images/bt_feed_r.gif");
  }
}

