/**
 * $term-listing
 */
.view-events {
  .date-display-single {
    background-color: #BCDBD8;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 0 #FFFFFF;
    float: left;
    height: 52px;
    margin: 0 15px 0 0;
    padding: 18px 5px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 55px;
  .views-row {
    //@include reset-block-columns;
      //@include block-columns(2);
    }
  }
}
