/* used for links */
/* Light red */
/* saturated red */
/* used for links */
/* Light red */
/* saturated red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000375}}
h1.title {
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000382}}
h1.title a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
.two-sidebars h1.title {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000392}}
h1.title {
  min-height: 105px;
  background: url('../../../../images/rgbapng/0f0f0fbf-5.png?1380559637');
  background: rgba(15, 15, 15, 0.75);
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000038}}
h1.title {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 0 10px;
}

/* FORUM LIST ICONS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\000035}}
.forum-list-icon-wrapper {
  border-top: 1px solid #EAF8E4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#f5f5f5, #dddddd);
  background-image: -moz-linear-gradient(#f5f5f5, #dddddd);
  background-image: -o-linear-gradient(#f5f5f5, #dddddd);
  background-image: linear-gradient(#f5f5f5, #dddddd);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #0a0003;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000321}}
tr.even td.forum-list-icon-default .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-default {
  background: transparent url(../../../../images/forum_list_default.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000327}}
tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(../../../../images/forum_list_new_posts.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000332}}
th.forum-icon {
  width: 100%;
}

/* TOPIC LIST ICONS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000338}}
span.topic-icon {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000344}}
.topic-icon-default {
  background: transparent url(../../../../images/topic_list_default.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000348}}
.topic-icon-new {
  background: transparent url(../../../../images/topic_list_new.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000352}}
.topic-icon-hot {
  background: transparent url(../../../../images/topic_list_hot.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000356}}
.topic-icon-hot-new {
  background: transparent url(../../../../images/topic_list_hot_new.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000360}}
.topic-icon-sticky {
  background: transparent url(../../../../images/topic_list_sticky.png) no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000364}}
.topic-icon-closed {
  background: transparent url(../../../../images/topic_list_closed.png) no-repeat center center;
}

/* TOPIC LIST ICON LEGEND ***************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000370}}
.topic-icon-default {
  background: transparent url(../../../../images/topic_list_default.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000374}}
.topic-icon-new {
  background: transparent url(../../../../images/topic_list_new.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000378}}
.topic-icon-hot {
  background: transparent url(../../../../images/topic_list_hot.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000382}}
.topic-icon-hot-new {
  background: transparent url(../../../../images/topic_list_hot_new.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000386}}
.topic-icon-sticky {
  background: transparent url(../../../../images/topic_list_sticky.png) no-repeat top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000390}}
.topic-icon-closed {
  background: transparent url(../../../../images/topic_list_closed.png) no-repeat top left;
}

/* AUTHOR PANE **************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\0000397}}
.forum-post-panel-sub .author-online {
  background: transparent url(../../../../images/ap_user_online.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003104}}
.forum-post-panel-sub .author-offline {
  background: transparent url(../../../../images/ap_user_offline.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: 125px;
  display: block;
}

/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003117}}
a.af-button-large {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003120}}
a.af-button-large:link, a.af-button-large:visited {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003125}}
a.af-button-small {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003128}}
a.af-button-small:link, a.af-button-small:visited {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003133}}
a.author-pane-link {
  color: #0a0003;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003136}}
a.author-pane-link:link, a.author-pane-link:visited {
  color: #0a0003;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003143}}
.af-button-large, .af-button-small, .author-pane-link {
  display: block;
  border-top: 1px solid #EAF8E4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#dfdfdf, #ffffff);
  background-image: -moz-linear-gradient(#dfdfdf, #ffffff);
  background-image: -o-linear-gradient(#dfdfdf, #ffffff);
  background-image: linear-gradient(#dfdfdf, #ffffff);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #0a0003;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003158}}
a.af-button-large:hover, a.af-button-small:hover, a.author-pane-link:hover, a.af-button-large:active, a.af-button-small:active, a.author-pane-link:active {
  background: #dddddd;
  color: #0a0003;
  border-top-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003165}}
.af-button-large span {
  font-size: 14px;
  padding: 2px 2px 2px 25px;
  /* Last number controls width for image */
  line-height: 30px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003175}}
.af-button-small span {
  font-size: 12px;
  padding: 2px 2px 2px 20px;
  /* Last number controls width for image */
  line-height: 25px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003185}}
.author-pane-link span {
  font-size: 12px;
  padding: 0 0 0 22px;
  /* Last number controls width for image */
  line-height: 22px;
  /* Approximate height of button */
  margin: 0 7px 0 7px;
  /* Left and right space outside text & image */
}

/* BUTTONIZED LINKS - INDIVIDUAL BUTTONS ************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003197}}
.forum-add-forum .af-button-large span {
  background: url(../../../../images/add_topic.png) no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003201}}
.forum-add-poll .af-button-large span {
  background: url(../../../../images/add_poll.png) no-repeat;
}

/*** Reply/Locked at the top and bottom of individual topics. ***/
/* Reply link */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003209}}
.topic-reply-allowed .af-button-large span {
  background: url(../../../../images/topic_reply.png) no-repeat;
}

/* Locked topic (not a link so an extra span is used instead of the "a". */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003215}}
.topic-reply-locked .af-button-large span {
  background: url(../../../../images/topic_locked.png) no-repeat;
}

/* Last post */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003221}}
.last-post-link .af-button-large span {
  background: url(../../../../images/topic_last_post.png) no-repeat;
}

/* First unread */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003227}}
.topic-new-post-link .af-button-large span {
  background: url(../../../../images/topic_first_unread_post.png) no-repeat;
}

/*** Links on the individual posts (nodes and comments). ***/
/* General */
/* Reply */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003239}}
.comment-add .af-button-small span, .comment-reply .af-button-small span {
  background: url(../../../../images/post_reply.png) no-repeat;
}

/* Quote */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003245}}
.quote .af-button-small span {
  background: url(../../../../images/post_quote.png) no-repeat;
}

/* Edit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003251}}
.comment-edit .af-button-small span, .post-edit .af-button-small span {
  background: url(../../../../images/post_edit.png) no-repeat;
}

/* Delete */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003257}}
.comment-delete .af-button-small span, .post-delete .af-button-small span {
  background: url(../../../../images/post_delete.png) no-repeat;
}

/* Jump to top */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003263}}
.forum-jump-links .af-button-small span {
  background: url(../../../../images/topic_top.png) no-repeat;
}

/*** AUTHOR PANE ***/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003270}}
.forum-post-panel-sub .author-contact .author-pane-link span {
  background: transparent url(../../../../images/ap_email.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003273}}
.forum-post-panel-sub .author-privatemsg .author-pane-link span {
  background: transparent url(../../../../images/ap_private_message.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003276}}
.forum-post-panel-sub .author-relationship-add-icon.author-pane-link span {
  background: transparent url(../../../../images/ap_contact_add.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.images\.scss}line{font-family:\00003279}}
.forum-post-panel-sub .author-relationship-remove-icon.author-pane-link {
  background: transparent url(../../../../images/ap_contact_remove.png) no-repeat;
}
