/*
This file contains colors, graphics, and text effects.

Colors used:
  #000 Borders, post seperator, avatar frame, statistics subheader.
  $dark-color Table header font color.
  #fff to #DDDDDD Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #fff to $bg-light-color Gradient on topic list background.
  #fff Stats section background.
  #FAFAFA Text area on posts.
*/
/* used for links */
/* Light red */
/* saturated red */
/* used for links */
/* Light red */
/* saturated red */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000375}}
h1.title, .comment-wrapper .forum-post-title {
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-family: "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000382}}
h1.title a, .comment-wrapper .forum-post-title a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000388}}
.two-sidebars h1.title {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000392}}
h1.title {
  min-height: 105px;
  background: url('../../../../images/rgbapng/0f0f0fbf-5.png?1380559638');
  background: rgba(15, 15, 15, 0.75);
}

/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000034}}
.forum-post-info, .forum-post-panel-main {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 10px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_padbox\.scss}line{font-family:\000038}}
h1.title, .comment-wrapper .forum-post-title {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000317}}
.node-type-forum, .forum-post, .forum-comments, .forum-table, .forum-table-topics, .forum-table-wrap {
  background-color: black;
  color: #8e8e8e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000320}}
.node-type-forum.field-type-field-collection > .field-label, .forum-post.field-type-field-collection > .field-label, .forum-comments.field-type-field-collection > .field-label, .forum-table.field-type-field-collection > .field-label, .forum-table-topics.field-type-field-collection > .field-label, .forum-table-wrap.field-type-field-collection > .field-label {
  margin-bottom: 1em;
  font-size: 1.4em;
  border-bottom: 3px solid #af0136;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000327}}
.forum-table {
  color: #0a0003;
  position: relative;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000334}}
.forum-table .field-items .field-item {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000337}}
.forum-table .field-items .field-item:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000342}}
.forum-table .field-items .field-item *:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000346}}
.forum-table .field-items .field-item *:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000353}}
.forum-table ul.action-links-field-collection-add,
.field-collection-view ul.field-collection-view-links {
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000356}}
.forum-table ul.action-links-field-collection-add a,
.field-collection-view ul.field-collection-view-links a {
  text-decoration: none;
  margin-right: 0;
  padding: .3em .5em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000364}}
.field-collection-view ul.field-collection-view-links {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  clear: both;
  float: none;
  text-align: right;
  border-bottom: 3px solid #0a0003;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000347}}
.field-collection-view ul.field-collection-view-links:before, .field-collection-view ul.field-collection-view-links:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
.field-collection-view ul.field-collection-view-links:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000372}}
.field-collection-view ul.field-collection-view-links li {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000376}}
.field-collection-view ul.field-collection-view-links a {
  background-color: #0a0003;
  color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000380}}
.field-collection-view ul.field-collection-view-links a:hover, .field-collection-view ul.field-collection-view-links a:focus, .field-collection-view ul.field-collection-view-links a:active {
  background-color: #dddddd;
  color: #0a0003;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000387}}
.forum-table ul.action-links-field-collection-add {
  position: absolute;
  top: 2.6em;
  right: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000393}}
.forum-table ul.action-links-field-collection-add a {
  background-color: #af0136;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\0000397}}
.forum-table ul.action-links-field-collection-add a:hover, .forum-table ul.action-links-field-collection-add a:focus, .forum-table ul.action-links-field-collection-add a:active {
  background-color: black;
  color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003104}}
.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003110}}
.forum-icon {
  background-image: none;
  width: 100%;
}

/*** PAGER *******************************************************************/
/* This is the pager on the topics in the list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003118}}
.topic-pager {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003122}}
.forum-pager .pager a, #forum-comments .pager a {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003127}}
.forum-pager .pager a:link, .forum-pager .pager a:visited {
  text-decoration: none;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #1c1c1c));
  background-image: -webkit-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: -moz-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: -o-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: linear-gradient(#c1c1c1, #1c1c1c);
  color: #0a0003;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003136}}
#forum-comments .pager a:link, #forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #1c1c1c));
  background-image: -webkit-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: -moz-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: -o-linear-gradient(#c1c1c1, #1c1c1c);
  background-image: linear-gradient(#c1c1c1, #1c1c1c);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003144}}
.forum-pager .pager-current, .forum-pager .pager a:hover {
  background: #0a0003;
  color: #fff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003151}}
#forum-comments .pager-current, #forum-comments .pager a:hover {
  background: #0a0003;
  color: #fff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003157}}
.forum-pager .pager a.active, #forum-comments .pager a.active {
  color: #0a0003;
}

/*** FORUM & TOPIC LISTS ******************************************************/
/* Forum list and topic list tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003165}}
.forum-table {
  border: 1px solid black;
}

/* Table name and description on forum list and table header on topic list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003171}}
.forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#1c1c1c, #333333);
  background-image: -moz-linear-gradient(#1c1c1c, #333333);
  background-image: -o-linear-gradient(#1c1c1c, #333333);
  background-image: linear-gradient(#1c1c1c, #333333);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003177}}
.forum-table-superheader .forum-table-description {
  font-size: 20px;
  line-height: 40px;
}

/* Table name on forum list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003184}}
.forum-table-superheader .forum-table-name {
  font-size: 32px;
  line-height: 40px;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

/* Table header on forum list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003195}}
.forum-table-wrap thead tr {
  background-color: #dddddd;
  border: 1px solid black;
}

/* Table header on forum list and topic list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003204}}
.forum-table thead tr a {
  color: #0a0003;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003207}}
.forum-table thead tr a:visited, .forum-table thead tr a:link {
  color: #0a0003;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003212}}
.forum-table thead th {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003217}}
.forum-table tr.even, .forum-table tr.odd {
  border-top: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#c1c1c1, #dddddd);
  background-image: -moz-linear-gradient(#c1c1c1, #dddddd);
  background-image: -o-linear-gradient(#c1c1c1, #dddddd);
  background-image: linear-gradient(#c1c1c1, #dddddd);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003221}}
.forum-table tr.even td.active, .forum-table tr.odd td.active {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003225}}
.forum-table td {
  border: 1px solid black;
}

/* Reset to avoid bleed-thru from theme */
/* Rows on both tables */
/* Active column on both tables - reset to prevent bleed thru from theme */
/* Individual cells on both tables */
/* Placeholder when there are no topics in the list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003240}}
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid black;
}

/*** Sticky topics ***/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003250}}
.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003257}}
#forum-statistics {
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003261}}
#forum-statistics-header {
  border-top: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#c1c1c1, #dddddd);
  background-image: -moz-linear-gradient(#c1c1c1, #dddddd);
  background-image: -o-linear-gradient(#c1c1c1, #dddddd);
  background-image: linear-gradient(#c1c1c1, #dddddd);
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003268}}
.forum-statistics-sub-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003274}}
.forum-statistics-sub-body {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003277}}
.forum-statistics-statistics-body, .forum-statistics-topics {
  background-color: #dddddd;
  color: #0a0003;
}

/*** FORUM COMMENTS **********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003283}}
.comment-wrapper .forum-post-title {
  font-size: 20px;
  line-height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003288}}
.forum-comments {
  background-color: #1c1c1c;
  color: #8e8e8e;
}

/*** FORUM TOPICS **********************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003293}}
div.forum-post {
  border: 1px solid black;
}

/* Header at the top of each post */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003299}}
.forum-post-info {
  font-size: 20px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1c1c1c));
  background-image: -webkit-linear-gradient(#333333, #1c1c1c);
  background-image: -moz-linear-gradient(#333333, #1c1c1c);
  background-image: -o-linear-gradient(#333333, #1c1c1c);
  background-image: linear-gradient(#333333, #1c1c1c);
  background-color: #1c1c1c;
  color: #8e8e8e;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: 0.5;
  padding-top: 19px;
  border-bottom-style: solid;
  border-bottom-width: 0.5;
  padding-bottom: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/partials\/utility\/abstractions\/_typography\.scss}line{font-family:\0000352}}
.forum-post-info a {
  color: #b00036;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000318}}
.forum-post-info a:visited {
  color: #99173f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000321}}
.forum-post-info a:focus {
  color: #01af7a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
.forum-post-info a:hover {
  color: #c95377;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/discipolo\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.becohming\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000327}}
.forum-post-info a:active {
  color: #b00036;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003310}}
.forum-posted-on {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003314}}
.forum-post-number a {
  color: #0a0003 !important;
}

/* Wrapper around author pane and content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003320}}
.forum-post-wrapper {
  background-color: #1c1c1c;
  color: #8e8e8e;
}

/* Author information pane */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003327}}
.forum-post-panel-sub .author-pane .author-name {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003330}}
.forum-post-panel-sub .author-pane .picture img {
  border: 1px solid black;
  background-color: #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003334}}
.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003341}}
.forum-post-panel-main {
  border-left: 1px solid black;
  background-color: #333333;
  color: #8e8e8e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003347}}
.forum-post-title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

/* Signature */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003355}}
.author-signature {
  font-size: .8em;
}

/* Post footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003361}}
.forum-post-footer {
  border-top: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003365}}
.forum-jump-links {
  border-right: none;
}

/* Box under top post before first reply */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003371}}
.forum-top-post-footer {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#c1c1c1, #dddddd);
  background-image: -moz-linear-gradient(#c1c1c1, #dddddd);
  background-image: -o-linear-gradient(#c1c1c1, #dddddd);
  background-image: linear-gradient(#c1c1c1, #dddddd);
}

/* Topic navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/mnt\/system-user_data\/Code\/virtualmachines\/vdd-becoming\/data\/becoming-dev\/sites\/all\/themes\/custom\/becohming\/sass\/extensions\/forumstyle\/skydiver2\/advanced-forum\.skydiver2\.style\.scss}line{font-family:\00003378}}
.forum-topic-navigation {
  border: 1px solid black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1c1), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#c1c1c1, #dddddd);
  background-image: -moz-linear-gradient(#c1c1c1, #dddddd);
  background-image: -o-linear-gradient(#c1c1c1, #dddddd);
  background-image: linear-gradient(#c1c1c1, #dddddd);
}
